<script setup lang="ts">
import { computed, nextTick, onMounted, ref, watch } from 'vue'
import type { VForm } from 'vuetify/components'
import type { Bill } from '@/types/Bill'
import { useBillStore } from '@/stores/Bill'
import { useLoadingStore } from '@/stores/loading'
import axios from 'axios'
import { Bar } from 'vue-chartjs'
import {
  Chart as ChartJS,
  Title,
  Tooltip,
  Legend,
  BarElement,
  CategoryScale,
  LinearScale
} from 'chart.js'
import { useUserStore } from '@/stores/user'
import { useBranchStore } from '@/stores/branch'
import { useAuthStore } from '@/stores/auth'

const authStore = useAuthStore()
const billStore = useBillStore()
const userStore = useUserStore()
const branchStore = useBranchStore()
const tab = ref(0)
const receiptDialog = ref(false)
const paymentDialog1 = ref(false)
const bills = ref<Bill[]>([])
const initialBill: Bill = {
  invoice: 'P',
  namepd: '',
  amountbill: 0,
  units: '',
  priceperunits: 0,
  discount: 0,
  price: 0,
  time: billStore.currentTime.toString(),
  timepay: 'null',
  status: '',
  isChecked: false
}
const editedBill = ref<Bill>(JSON.parse(JSON.stringify(initialBill)))

const headers1 = [
  {
    title: 'Id',
    key: 'id',
    value: 'id'
  },
  {
    title: 'Invoice',
    key: 'invoice',
    value: 'invoice'
  },
  {
    title: 'Name',
    key: 'namepd',
    value: 'namepd'
  },
  {
    title: 'Amount',
    key: 'amountbill',
    value: 'amountbill'
  },
  {
    title: 'Unit',
    key: 'units',
    value: 'units'
  },
  {
    title: 'Price/Unit',
    key: 'priceperunits',
    value: 'priceperunits'
  },
  {
    title: 'Discount',
    key: 'discount',
    value: 'discount'
  },
  {
    title: 'Price',
    key: 'price',
    value: 'price'
  },
  {
    title: 'Time',
    key: 'time',
    value: 'time'
  },
  {
    title: 'Time-Pay',
    key: 'timepay',
    value: 'timepay'
  },
  {
    title: 'Status',
    key: 'status',
    value: 'status'
  },

  { title: 'Actions', key: 'actions', sortable: false }
]

const headers2 = [
  {
    title: 'Id',
    key: 'id',
    value: 'id'
  },
  {
    title: 'Invoice',
    key: 'invoice',
    value: 'invoice'
  },
  {
    title: 'Name',
    key: 'namepd',
    value: 'namepd'
  },
  {
    title: 'Amount',
    key: 'amountbill',
    value: 'amountbill'
  },
  {
    title: 'Unit',
    key: 'units',
    value: 'units'
  },
  {
    title: 'Price/Unit',
    key: 'priceperunits',
    value: 'priceperunits'
  },
  {
    title: 'Discount',
    key: 'discount',
    value: 'discount'
  },
  {
    title: 'Price',
    key: 'price',
    value: 'price'
  },
  {
    title: 'Time',
    key: 'time',
    value: 'time'
  },
  {
    title: 'Time-Pay',
    key: 'timepay',
    value: 'timepay'
  },
  {
    title: 'Status',
    key: 'status',
    value: 'status'
  }
]

const headers3 = [
  {
    title: 'Id',
    key: 'id',
    value: 'id'
  },
  {
    title: 'Invoice',
    key: 'invoice',
    value: 'invoice'
  },
  {
    title: 'Name',
    key: 'namepd',
    value: 'namepd'
  },
  {
    title: 'Amount',
    key: 'amountbill',
    value: 'amountbill'
  },
  {
    title: 'Unit',
    key: 'units',
    value: 'units'
  },
  {
    title: 'Price/Unit',
    key: 'priceperunits',
    value: 'priceperunits'
  },
  {
    title: 'Discount',
    key: 'discount',
    value: 'discount'
  },
  {
    title: 'Price',
    key: 'price',
    value: 'price'
  },
  {
    title: 'Time',
    key: 'time',
    value: 'time'
  },
  {
    title: 'Time-Pay',
    key: 'timepay',
    value: 'timepay'
  },
  {
    title: 'Status',
    key: 'status',
    value: 'status'
  }
]

const form = ref(false)
const refForm = ref<VForm | null>(null)
const dialog1 = ref(false)
const dialog2 = ref(false)
const dialogDelete1 = ref(false)
const dialogDelete2 = ref(false)
const loading = ref(false)
const receiptDialogNotpay = ref(false)
const loadingStore = useLoadingStore()

let editedIndex = -1
let lastId = 4

const isPaid = (item: Bill) => {
  return item.timepay !== 'null'
}

const calculatedPrice = computed(() => {
  const { amountbill, priceperunits, discount } = billStore.editedBill
  return amountbill * priceperunits - discount
})

function onSubmit() {
  // Implement if needed
}

function closeDelete() {
  dialogDelete1.value = false
  nextTick(() => {
    billStore.clearForm()
  })
}

async function deleteItemConfirm() {
  // Delete item from list
  await billStore.deleteBill()
  closeDelete()
}
async function editItem(item: Bill) {
  if (!item.id) return
  await billStore.getBill(item.id)
  dialog1.value = true
}
async function deleteItem(item: Bill) {
  if (!item.id) return
  await billStore.getBill(item.id)
  dialogDelete1.value = true
  editedIndex = -1
}
function closeDialog() {
  dialog1.value = false
  nextTick(() => {
    billStore.clearForm()
  })
}

async function save() {
  const { valid } = await refForm.value!.validate()
  if (!valid) return

  const currentTime = billStore.getCurrentTime()

  editedBill.value.time = currentTime

  await billStore.saveBill()
  closeDialog()
}

const isAnyBillChecked = computed(() => {
  return billStore.bills.some((bill) => bill.isChecked)
})

const selectedBills = computed(() => {
  return billStore.bills.filter((bill) => bill.isChecked)
})

async function printBill() {
  const selectedData = selectedBills.value
  editedBill.value = selectedData[0]
  receiptDialog.value = true
}

const SummarizeDialog = ref(false)
function openSummarize() {
  SummarizeDialog.value = true
}

const Datefirst: any = ref()
const Dateutil = ref(new Date().toISOString().slice(0, 10))
const viewmonth = ref<any>(null)

const formatDate = (date: Date): string => {
  const day = String(date.getDate()).padStart(2, '0')
  const month = String(date.getMonth() + 1).padStart(2, '0')
  const year = date.getFullYear()
  return `${day}/${month}/${year}`
}

function formatMonth(date: any) {
  const month = String(date.getMonth() + 1).padStart(2, '0')
  return month
}

const month = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
const monthname = [
  'January',
  'Febuary',
  'March',
  'April',
  'May',
  'June',
  'July',
  'August',
  'September',
  'October',
  'November',
  'December'
]
// const monthname = [{ name : 'January', id : 1 },{ name : 'Febuary', id : 2 },{ name : 'April', id : '04' }]
const currentyear = new Date().getFullYear().toString()

const showmonth = ref('')
// { name : 'January', id : 1 }

watch(showmonth, (newValue) => {
  console.log(newValue)
  for (let i = 0; i < month.length; i++) {
    if (newValue == monthname[i]) {
      viewmonth.value = month[i]
    }
  }
})

const year = ['2021', '2022', '2023', '2024', '2025', '2026']
const selectyear = ref('')
const selectedTab = ref('')

const filteredBills1 = computed(() => {
  // Get the start date and end date from the Datefirst and Dateutil variables
  const startDate = Datefirst.value
  const endDate = Dateutil.value

  return billStore.bills.filter((bill) => {
    return bill.timepay >= startDate && bill.timepay <= endDate
  })
})

function checkTime() {
  if (Datefirst.value === editedBill.value.timepay) {
    // กระทำเมื่อ Start Date และ TimePay ตรงกัน
    // โชว์เวลาที่ตรงกัน
    console.log('Start Date และ TimePay ตรงกัน: ', Datefirst.value)
  } else {
    // กระทำเมื่อ Start Date และ TimePay ไม่ตรงกัน
    // เช่น แสดงข้อความหรือกระทำอื่น ๆ ตามที่คุณต้องการ
  }
}

function sendData() {
  // กระทำเมื่อคุณคลิกที่ปุ่มส่ง
  // เช่น ส่งข้อมูลหรือดำเนินการอื่น ๆ ตามที่คุณต้องการ
}

onMounted(async () => {
  await getReportDaily()
  await getReportMount()
  await getReportYear()
})

async function getReportDaily() {
  const res = await axios.get('http://localhost:3000/report/reportDaily')
  const labels = res.data.map((it: any) => it.formatted_time)
  const data = res.data.map((it: any) => it.EXPENSES)

  chartData.value = {
    labels: labels,
    datasets: [{ label: 'Total By Daily', backgroundColor: '#f87979', data: data }]
  }
}
async function getReportMount() {
  const res = await axios.get('http://localhost:3000/report/reportMount')
  const labels = res.data.map((it: any) => it.Month)
  const data = res.data.map((it: any) => it.TotalPrice)

  chartData.value = {
    labels: labels,
    datasets: [{ label: 'Total By Mount', backgroundColor: '#ce93d8', data: data }]
  }
}
async function getReportYear() {
  const res = await axios.get('http://localhost:3000/report/reportYear')
  const labels = res.data.map((it: any) => it.Year)
  const data = res.data.map((it: any) => it.TotalPrice)

  chartData.value = {
    labels: labels,
    datasets: [{ label: 'Total By Year', backgroundColor: '#80deea', data: data }]
  }
}

ChartJS.register(Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale)

const chartData = ref({
  labels: [],
  datasets: [{ label: 'Bill', backgroundColor: '#f87979', data: [] }]
})
const chartOptions = ref({
  responsive: true,
  maintainAspectRatio: false,
  scales: {
    y: {
      title: {
        display: true,
        text: 'Expenses'
      }
    }
  }
})

const showDialog = ref(false)

const changeChartData = (type: string) => {
  switch (type) {
    case 'date':
      getReportDaily()
      break
    case 'month':
      getReportMount()
      break
    case 'year':
      getReportYear()
      break
    default:
      break
  }
}

const Graph = () => {
  showDialog.value = true
}

onMounted(async () => {
  billStore.getBills()
  userStore.getUsers()
  branchStore.getBranch(1)
  await console.log(authStore.getCurrentUser()?.branch)
})
</script>

<template>
  <div>
    <v-tabs v-model="tab" color="#FFA500" align-tabs="center" style="background-color: #2c2c2c">
      <v-tab style="color: #ee7828; font-size: 18pt" :value="1"
        ><v-icon>mdi-invoice-text-multiple-outline</v-icon></v-tab
      >
      <!-- <v-tab style="color: white; font-size: 18pt" :value="2" color="black"><v-icon>mdi-information</v-icon></v-tab> -->
    </v-tabs>
    <v-window v-model="tab">
      <v-window-item :value="1">
        <v-toolbar flat style="background-color: #2c2c2c">
          <v-toolbar-title style="color: #ee7828">Bills Manager</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog1" persistent width="1024">
            <template v-slot:activator="{ props }">
              <v-radio-group v-model="billStore.selectedFilter" inline>
                <v-radio style="color: #ee7828" label="Show All" value="all"></v-radio>
                <v-radio style="color: #ee7828" label="Show Water" value="Water"></v-radio>
                <v-radio style="color: #ee7828" label="Show Light" value="Electricity"></v-radio>
                <v-radio style="color: #ee7828" label="Show Rent" value="Rent"></v-radio>
              </v-radio-group>
              <v-btn color="#ee7828" :disabled="!isAnyBillChecked" @click="printBill()"
                ><v-icon>mdi-printer</v-icon></v-btn
              >
              <v-btn color="#ee7828" @click="Graph()"> Graph </v-btn>
              <v-btn color="#ee7828" @click="openSummarize()"> Summarize </v-btn>
              <v-btn color="#ee7828" v-bind="props"> New Bill </v-btn>
            </template>
            <v-card style="background-color: #c7b69f">
              <v-card-title style="background-color: #2c2c2c">
                <span style="color: #ee7828" class="text-h5">Bill</span>
              </v-card-title>
              <v-card-text>
                <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="billStore.editedBill.invoice"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Invoice"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-combobox
                          v-model="billStore.editedBill.namepd"
                          :items="['Water', 'Electricity', 'Rent']"
                          @change="billStore.selectUnit"
                          label="Name"
                        >
                        </v-combobox>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="billStore.editedBill.amountbill"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          clearable
                          label="Amount"
                          type="number"
                          inputmode="numeric"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="billStore.editedBill.units"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Unit"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="billStore.editedBill.priceperunits"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          clearable
                          label="Price/Unit"
                          type="number"
                          inputmode="numeric"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="billStore.editedBill.discount"
                          :readonly="loading"
                          clearable
                          label="Discount"
                          type="number"
                          inputmode="numeric"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6">
                        <v-text-field
                          v-model="calculatedPrice"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          clearable
                          label="Price"
                          type="number"
                          inputmode="numeric"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6">
                        <v-text-field
                          v-model="billStore.currentTime"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          clearable
                          label="Time"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-form>
                <small>*indicates required field</small>
              </v-card-text>
              <v-card-actions style="background-color: #2c2c2c">
                <v-spacer></v-spacer>
                <v-btn color="red" variant="text" @click="closeDialog()"> Close </v-btn>
                <v-btn color="green" variant="text" @click="save()"> Save </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <v-dialog v-model="receiptDialog" max-width="1200px" persistent>
            <v-card class="dialog-card" style="background-color: #2c2c2c">
              <v-card-title style="color: #ee7828" class="text-h5">Bill Receipt</v-card-title>
              <v-card-text>
                <v-table style="background-color: #c7b69f">
                  <thead>
                    <tr>
                      <th class="text-left">Id</th>
                      <th class="text-left">Invoice</th>
                      <th class="text-left">Name</th>
                      <th class="text-left">Amount</th>
                      <th class="text-left">Unit</th>
                      <th class="text-left">Price/Unit</th>
                      <th class="text-left">Discount</th>
                      <th class="text-left">Price</th>
                      <th class="text-left">Time</th>
                      <th class="text-left">Time-Pay</th>
                      <th class="text-left">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="item in selectedBills" :key="item.id">
                      <td>{{ item.id }}</td>
                      <td>{{ item.invoice }}</td>
                      <td>{{ item.namepd }}</td>
                      <td>{{ item.amountbill }}</td>
                      <td>{{ item.units }}</td>
                      <td>{{ item.priceperunits }}</td>
                      <td>{{ item.discount }}</td>
                      <td>{{ item.price }}</td>
                      <td>{{ item.time }}</td>
                      <td>{{ item.timepay }}</td>
                      <td>{{ item.status }}</td>
                    </tr>
                  </tbody>
                </v-table>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="red" @click="receiptDialog = false">Close</v-btn>
                <v-btn color="blue darken-1" @click="receiptDialog = false">Print</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <v-dialog v-model="showDialog" max-width="800" persistent>
            <v-card class="chart-card">
              <v-card-title>Chart Title</v-card-title>
              <v-card-text>
                <span style="font-weight: bold"
                  >Name Branch: {{ authStore.getCurrentUser()?.branch.name }}</span
                >
              </v-card-text>
              <v-card-text>
                <Bar :options="chartOptions" :data="chartData" width="auto" />
              </v-card-text>
              <v-card-actions>
                <!-- Button to change chart data to daily view -->
                <v-btn @click="changeChartData('date')">Daily</v-btn>
                <!-- Button to change chart data to monthly view -->
                <v-btn @click="changeChartData('month')">Month</v-btn>
                <!-- Button to change chart data to yearly view -->
                <v-btn @click="changeChartData('year')">Year</v-btn>

                <v-btn color="blue darken-1" @click="showDialog = false">Close</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <v-dialog v-model="SummarizeDialog" max-width="1200px" persistent>
            <v-card class="dialog-card" style="background-color: #c7b69f">
              <v-toolbar flat style="background-color: #2c2c2c">
                <v-card-title style="color: #ee7828" class="text-h5">Summarize</v-card-title>
              </v-toolbar>
              <v-card-text>
                <v-tabs v-model="selectedTab">
                  <v-tab color="black" value="month">Month</v-tab>
                  <v-tab color="black" value="year">Year</v-tab>
                </v-tabs>
                <v-spacer></v-spacer>

                <v-row class="mx-auto my-4" v-if="selectedTab == 'month'">
                  <v-col cols="6">
                    <v-select
                      v-model="showmonth"
                      item-title="name"
                      :items="monthname"
                      label="Select Month"
                      @change="checkTime"
                    ></v-select>
                    <span style="font-weight: bold"
                      >Name Branch: {{ authStore.getCurrentUser()?.branch.name }}</span
                    >
                    <v-card class="chart-card">
                      <v-card-title>Chart Title</v-card-title>
                      <v-card-text>
                        <Bar :options="chartOptions" :data="chartData" width="auto" />
                      </v-card-text>
                      <v-card-actions>
                        <!-- Button to change chart data to daily view -->
                        <v-btn @click="changeChartData('date')">Daily</v-btn>
                        <!-- Button to change chart data to monthly view -->
                        <v-btn @click="changeChartData('month')">Month</v-btn>
                        <!-- Button to change chart data to yearly view -->
                        <v-btn @click="changeChartData('year')">Year</v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-col>
                </v-row>

                <v-row class="mx-auto my-4" v-if="selectedTab == 'year'">
                  <v-col cols="6">
                    <v-select
                      v-model="selectyear"
                      item-title="name"
                      :items="year"
                      label="Select Year"
                      @change="checkTime"
                    ></v-select>
                    <span style="font-weight: bold"
                      >Name Branch: {{ authStore.getCurrentUser()?.branch.name }}</span
                    >
                  </v-col>
                </v-row>

                <v-tab-item v-if="selectedTab === 'month'">
                  <v-data-table
                    style="background-color: #efcead"
                    :headers="headers2"
                    :items="
                      billStore.bills.filter(
                        (item) =>
                          item.timepay.substring(0, 2) == viewmonth &&
                          item.timepay.substring(6, 10) == currentyear
                      )
                    "
                  >
                  </v-data-table>
                </v-tab-item>

                <v-tab-item v-if="selectedTab === 'year'">
                  <v-data-table
                    :headers="headers3"
                    :items="
                      billStore.bills.filter(
                        (item) =>
                          item.timepay.substring(6, 10) === selectyear && item.timepay !== 'null'
                      )
                    "
                  >
                  </v-data-table>
                </v-tab-item>
              </v-card-text>
              <v-card-actions class="d-flex justify-end" style="background-color: #2c2c2c">
                <v-btn color="red" @click="SummarizeDialog = false">Close</v-btn>
                <v-btn color="green" @click="sendData">Send</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <!-- Delete Dialog-->
          <v-dialog v-model="dialogDelete1" max-width="500px">
            <v-card style="background-color: #c7b69f">
              <v-card-title class="text-h5"
                >Are you sure you want to delete this item?</v-card-title
              >
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="red" variant="text" @click="closeDelete">Cancel</v-btn>
                <v-btn color="green" variant="text" @click="deleteItemConfirm">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
        <v-data-table
          :headers="headers1"
          :items="billStore.filteredBills"
          style="background-color: #c7b69f"
        >
          <template v-slot:[`item.actions`]="{ item }">
            <v-icon size="small" class="me-2" @click="editItem(item)"> mdi-pencil </v-icon>
            <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon>
            <span class="me-2"></span>
            <span class="me-2"></span>
            <v-icon size="small" class="me-2" :class="{ 'disabled-checkbox': !isPaid(item) }">
              <input type="checkbox" v-model="item.isChecked" @click.stop />
            </v-icon>
          </template>
          <template v-slot:item.status="{ item }">
            <v-btn color="green" @click="billStore.pay(item)" :disabled="isPaid(item)">
              <v-icon left>mdi-currency-usd</v-icon>
            </v-btn>
            <v-dialog v-model="billStore.paymentDialog1" max-width="500px" persistent>
              <v-card>
                <v-card-title class="text-h5">Payment Status</v-card-title>
                <v-card-text> You have paid successfully. </v-card-text>
                <v-card-actions class="text-right justify-end">
                  <v-btn color="blue darken-1" @click="billStore.handleClosePaymentDialog"
                    >Close</v-btn
                  >
                </v-card-actions>
              </v-card>
            </v-dialog>
            <span class="me-2"></span>
            <span class="me-2"></span>
            <v-btn color="red" @click="billStore.cancelPayment(item)" :disabled="!isPaid(item)">
              <v-icon left>mdi-cancel</v-icon>
            </v-btn>
            <v-dialog v-model="billStore.paymentDialog2" max-width="500px" persistent>
              <v-card>
                <v-card-title class="text-h5">Payment Status</v-card-title>
                <v-card-text> Cancel Payment. </v-card-text>
                <v-card-actions class="text-right justify-end">
                  <v-btn color="blue darken-1" @click="billStore.handleClosePaymentDialog"
                    >Close</v-btn
                  >
                </v-card-actions>
              </v-card>
            </v-dialog>
          </template>
          <template v-slot:item.timepay="{ item }">
            {{ item.timepay }}
          </template>
          <template v-slot:no-data>
            <v-btn color="primary" @click="billStore.getBills()"> Reset </v-btn>
          </template>
        </v-data-table>
      </v-window-item>
    </v-window>
  </div>
</template>

<style>
.icon {
  font-size: 12px;
}

.disabled-checkbox {
  opacity: 0.5;
  pointer-events: none;
}

.dialog-card {
  width: 100%;
}
</style>
