<script setup lang="ts">
import { computed, nextTick, onMounted, ref, watch, watchEffect } from 'vue'
import type { VForm } from 'vuetify/components'
import type { Salary } from '@/types/Salary'
import { useSalaryStore } from '@/stores/Salary'
import { useLoadingStore } from '@/stores/loading'
import { useBranchStore } from '@/stores/branch'
import { useUserStore } from '@/stores/user'

const authStore = useAuthStore()
const salaryStore = useSalaryStore()
const branchStore = useBranchStore()
const userStore = useUserStore()
const tab = ref(0)
const receiptDialog = ref(false)
const receiptDialog1 = ref(false)
const DialogBranch = ref(false)
const receiptData = ref<Salary | null>(null)
const salarys = ref<Salary[]>([])
const isPaid = (item: Salary) => {
  return item.status === 'Paid'
}
const initialSalary: Salary = {
  date: salaryStore.currentTime.toString(),
  fullname: '',
  workinghour: 0,
  workrate: 0,
  status: '',
  typepay: '',
  salary: 0,
  isChecked: false
}
const editedSalary = ref<Salary>(JSON.parse(JSON.stringify(initialSalary)))

const headers1 = [
  {
    title: 'Id',
    key: 'id',
    value: 'id'
  },
  {
    title: 'Date',
    key: 'date',
    value: 'date'
  },
  {
    title: 'Fullname',
    key: 'fullname',
    value: 'fullname'
  },
  {
    title: 'Workinghour',
    key: 'workinghour',
    value: 'workinghour'
  },
  {
    title: 'Workrate',
    key: 'workrate',
    value: 'workrate'
  },
  {
    title: 'Type',
    key: 'typepay',
    value: 'typepay'
  },
  {
    title: 'Status',
    key: 'status',
    value: 'status'
  },

  { title: 'Actions', key: 'actions', sortable: false }
]

const headers2 = [
  {
    title: 'UserId',
    key: 'id',
    value: 'id'
  },

  { title: 'Actions', key: 'actions', sortable: false }
]

const headers3 = [
  {
    title: 'Date',
    key: 'date',
    value: 'date'
  },
  {
    title: 'Fullname',
    key: 'fullname',
    value: 'fullname'
  },
  {
    title: 'Type',
    key: 'typepay',
    value: 'typepay'
  },
  {
    title: 'Status',
    key: 'status',
    value: 'status'
  }
]

const form = ref(false)
const refForm = ref<VForm | null>(null)
const dialog1 = ref(false)
const dialog2 = ref(false)
const dialogDelete1 = ref(false)
const dialogDelete2 = ref(false)
const loading = ref(false)
const loadingStore = useLoadingStore()

let editedIndex = -1
let lastId = 4

function onSubmit() {
  // Implement if needed
}

function closeReceiptDialog() {
  receiptDialog.value = false
  DialogBranch.value = false
}

function closeDelete() {
  dialogDelete1.value = false
  nextTick(() => {
    salaryStore.clearForm()
  })
}

async function deleteItemConfirm() {
  // Delete item from list
  await salaryStore.deleteSalary()
  closeDelete()
}
async function editItem(item: Salary) {
  if (!item.id) return
  await salaryStore.getSalary(item.id)
  dialog1.value = true
}
async function deleteItem(item: Salary) {
  if (!item.id) return
  await salaryStore.getSalary(item.id)
  dialogDelete1.value = true
  editedIndex = -1
}
function closeDialog() {
  dialog1.value = false
  nextTick(() => {
    salaryStore.clearForm()
  })
}

async function save() {
  const { valid } = await refForm.value!.validate()
  if (!valid) return

  const currentTime = salaryStore.getCurrentTime()

  editedSalary.value.date = currentTime

  await salaryStore.saveSalary()
  closeDialog()
}

function openReceiptDialog(item: Salary) {
  receiptData.value = item
  receiptData.value.salary = item.workinghour * item.workrate
  receiptDialog.value = true
}

async function printBill() {
  const selectedData = selectedSalarys.value
  editedSalary.value = selectedData[0]
  receiptDialog1.value = true
}

const isAnySalaryChecked = computed(() => {
  return salaryStore.salarys.some((salary) => salary.isChecked)
})

const selectedSalarys = computed(() => {
  return salaryStore.salarys.filter((salary) => salary.isChecked)
})

function Checkbranch() {
  DialogBranch.value = true
  branchStore.editedBranch.address
}

import { Bar } from 'vue-chartjs'
import {
  Chart as ChartJS,
  Title,
  Tooltip,
  Legend,
  BarElement,
  CategoryScale,
  LinearScale
} from 'chart.js'
import axios from 'axios'
import { useAuthStore } from '@/stores/auth'

onMounted(async () => {
  await getReportDaily()
  await getReportMount()
  await getReportYear()
})

async function getReportDaily() {
  const res = await axios.get('http://localhost:3000/report/reportDaily')
  const labels = res.data.map((it: any) => it.formatted_time)
  const data = res.data.map((it: any) => it.EXPENSES)

  chartData.value = {
    labels: labels,
    datasets: [{ label: 'Total By Daily', backgroundColor: '#f87979', data: data }]
  }
}
async function getReportMount() {
  const res = await axios.get('http://localhost:3000/report/reportMount')
  const labels = res.data.map((it: any) => it.Month)
  const data = res.data.map((it: any) => it.TotalPrice)

  chartData.value = {
    labels: labels,
    datasets: [{ label: 'Total By Mount', backgroundColor: '#ce93d8', data: data }]
  }
}
async function getReportYear() {
  const res = await axios.get('http://localhost:3000/report/reportYear')
  const labels = res.data.map((it: any) => it.Year)
  const data = res.data.map((it: any) => it.TotalPrice)

  chartData.value = {
    labels: labels,
    datasets: [{ label: 'Total By Year', backgroundColor: '#80deea', data: data }]
  }
}

ChartJS.register(Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale)

const chartData = ref({
  labels: [],
  datasets: [{ label: 'Salary', backgroundColor: '#f87979', data: [] }]
})
const chartOptions = ref({
  responsive: true,
  maintainAspectRatio: false,
  scales: {
    y: {
      title: {
        display: true,
        text: 'Expenses'
      }
    }
  }
})

const showDialog = ref(false)

const changeChartData = (type: string) => {
  switch (type) {
    case 'date':
      getReportDaily()
      break
    case 'month':
      getReportMount()
      break
    case 'year':
      getReportYear()
      break
    default:
      break
  }
}

const Graph = () => {
  showDialog.value = true
}

onMounted(async () => {
  branchStore.getBranch(1)
  userStore.getUsers()
  salaryStore.getSalarys()
  await console.log(authStore.getCurrentUser()?.branch)
})

const Datefirst: any = ref()
const Dateutil = ref(new Date().toISOString().slice(0, 10))
const viewmonth = ref<any>(null)

const month = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
const monthname = [
  'January',
  'Febuary',
  'March',
  'April',
  'May',
  'June',
  'July',
  'August',
  'September',
  'October',
  'November',
  'December'
]
const currentyear = new Date().getFullYear().toString()
const showmonth = ref('')
// { name : 'January', id : 1 }

watch(showmonth, (newValue) => {
  console.log(newValue)
  for (let i = 0; i < month.length; i++) {
    if (newValue == monthname[i]) {
      viewmonth.value = month[i]
    }
  }
})

function checkTime() {
  if (Datefirst.value === editedSalary.value.date) {
    // กระทำเมื่อ Start Date และ TimePay ตรงกัน
    // โชว์เวลาที่ตรงกัน
    console.log('Start Date และ TimePay ตรงกัน: ', Datefirst.value)
  } else {
    // กระทำเมื่อ Start Date และ TimePay ไม่ตรงกัน
    // เช่น แสดงข้อความหรือกระทำอื่น ๆ ตามที่คุณต้องการ
  }
}

const selectedTab = ref()
</script>

<template>
  <div>
    <v-tabs v-model="tab" color="#FFA500" align-tabs="center" style="background-color: #2c2c2c">
      <v-tab style="color: #ee7828; font-size: 18pt" :value="1" color="#ee7828">Payment</v-tab>
      <span class="me-2"></span>
      <span class="me-2"></span>
      <span class="me-2"></span>
      <span class="me-2"></span>
      <span class="me-2"></span>
      <span class="me-2"></span>
      <v-tab style="color: #ee7828; font-size: 18pt" :value="2">History</v-tab>
    </v-tabs>
    <v-window v-model="tab">
      <v-window-item :value="1">
        <v-toolbar flat style="background-color: #2c2c2c">
          <v-toolbar-title style="color: #ee7828">Salary Management</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog1" persistent width="1024">
            <template v-slot:activator="{ props }">
              <v-radio-group v-model="salaryStore.selectedFilter" inline>
                <v-radio style="color: #ee7828" label="Show All" value="all"></v-radio>
                <v-radio style="color: #ee7828" label="Show Paid" value="paid"></v-radio>
                <v-radio style="color: #ee7828" label="Show Unpaid" value="unpaid"></v-radio>
              </v-radio-group>
              <v-btn color="#ee7828" @click="Graph()"> Graph </v-btn>
              <v-dialog v-model="showDialog" max-width="800" persistent>
                <v-card class="chart-card">
                  <v-card-title style="color: #ee7828">Chart Title</v-card-title>
                  <v-card-text>
                    <Bar :options="chartOptions" :data="chartData" width="auto" />
                  </v-card-text>
                  <v-card-text>
                    <span style="font-weight: bold"
                      >Name Branch: {{ authStore.getCurrentUser()?.branch.name }}</span
                    ></v-card-text
                  >
                  <v-card-actions>
                    <!-- Button to change chart data to daily view -->
                    <v-btn @click="changeChartData('date')">Daily</v-btn>
                    <!-- Button to change chart data to monthly view -->
                    <v-btn @click="changeChartData('month')">Month</v-btn>
                    <!-- Button to change chart data to yearly view -->
                    <v-btn @click="changeChartData('year')">Year</v-btn>

                    <v-btn color="blue darken-1" @click="showDialog = false">Close</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <v-btn color="#ee7828" @click="Checkbranch()"> CheckBranch </v-btn>
              <v-btn color="#ee7828" v-bind="props"> Add New </v-btn>
            </template>
            <v-card style="background-color: #c7b69f">
              <v-card-title style="background-color: #2c2c2c">
                <span style="color: #ee7828" class="text-h5">Salary</span>
              </v-card-title>
              <v-card-text>
                <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="salaryStore.currentTime"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Date"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-select label="UserId" v-model="userStore.editedUser.id"> </v-select>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="salaryStore.editedSalary.fullname"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Fullname"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="salaryStore.editedSalary.workinghour"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          clearable
                          label="Workinghour"
                          type="number"
                          inputmode="numeric"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="salaryStore.editedSalary.workrate"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          clearable
                          label="Workrate"
                          type="number"
                          inputmode="numeric"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-select
                          label="Pay"
                          v-model="salaryStore.editedSalary.typepay"
                          :items="['Day', 'Month']"
                        >
                        </v-select>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-form>
                <small>*indicates required field</small>
              </v-card-text>
              <v-card-actions style="background-color: #2c2c2c">
                <v-spacer></v-spacer>
                <v-btn color="red" variant="text" @click="closeDialog()"> Close </v-btn>
                <v-btn color="blue-darken-1" variant="text" @click="save()"> Save </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <v-dialog v-model="dialogDelete1" max-width="500px">
            <v-card style="background-color: #c7b69f">
              <v-card-title class="text-h5"
                >Are you sure you want to delete this item?</v-card-title
              >
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="red" variant="text" @click="closeDelete">Cancel</v-btn>
                <v-btn color="green" variant="text" @click="deleteItemConfirm">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <v-dialog v-model="DialogBranch" max-width="1024" persistent>
            <v-card style="background-color: #c7b69f">
              <v-toolbar flat style="background-color: #2c2c2c">
                <v-card-title style="color: #ee7828" class="text-h5">Branch</v-card-title>
              </v-toolbar>
              <v-card-text>
                <v-col cols="6">
                  <v-select
                    v-model="showmonth"
                    item-title="name"
                    :items="monthname"
                    label="Select Month"
                    @change="checkTime"
                  ></v-select>
                  <span style="font-weight: bold"
                    >Name Branch: {{ authStore.getCurrentUser()?.branch.name }}</span
                  >
                </v-col>
                <v-row>
                  <v-col cols="6"></v-col>
                  <v-col cols="6" class="text-end"> </v-col>
                  <v-col>
                    <v-data-table
                      style="background-color: #efcead"
                      :headers="headers3"
                      :items="
                        salaryStore.salarysPaid.filter(
                          (item) =>
                            item.date.substring(0, 2) == viewmonth &&
                            item.date.substring(6, 10) == currentyear
                        )
                      "
                    >
                    </v-data-table>
                  </v-col>
                </v-row>
              </v-card-text>
              <v-card-actions class="text-right justify-end" style="background-color: #2c2c2c">
                <v-btn color="red" @click="closeReceiptDialog">Close</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
        <v-data-table
          style="background-color: #c7b69f"
          :headers="headers1"
          :items="salaryStore.filteredSalarys"
        >
          <template v-slot:[`item.status`]="{ item }">
            <v-btn color="green" @click="salaryStore.pay(item)" :disabled="isPaid(item)">
              <v-icon left>mdi-currency-usd</v-icon>
            </v-btn>
            <v-dialog v-model="salaryStore.paymentDialog1" max-width="500px" persistent>
              <v-card>
                <v-card-title class="text-h5">Payment Status</v-card-title>
                <v-card-text> You have paid successfully. </v-card-text>
                <v-card-actions class="text-right justify-end">
                  <v-btn color="blue darken-1" @click="salaryStore.handleClosePaymentDialog"
                    >Close</v-btn
                  >
                </v-card-actions>
              </v-card>
            </v-dialog>
            <span class="me-2"></span>
            <span class="me-2"></span>
            <v-btn color="red" @click="salaryStore.cancelPayment(item)" :disabled="!isPaid(item)">
              <v-icon>mdi-cancel</v-icon>
            </v-btn>
            <v-dialog v-model="salaryStore.paymentDialog2" max-width="500px" persistent>
              <v-card>
                <v-card-title class="text-h5">Payment Status</v-card-title>
                <v-card-text> Cancel Payment. </v-card-text>
                <v-card-actions class="text-right justify-end">
                  <v-btn color="blue darken-1" @click="salaryStore.handleClosePaymentDialog"
                    >Close</v-btn
                  >
                </v-card-actions>
              </v-card>
            </v-dialog>
          </template>
          <template v-slot:[`item.actions`]="{ item }">
            <v-icon size="small" class="me-2" @click="editItem(item)"> mdi-pencil </v-icon>
            <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon>
            <span class="me-2"></span>
            <span class="me-2"></span>
          </template>
          <template v-slot:no-data>
            <v-btn color="primary" @click="salaryStore.getSalarys()"> Reset </v-btn>
          </template>
        </v-data-table>
      </v-window-item>

      <v-window-item :value="2">
        <v-toolbar flat style="background-color: #2c2c2c">
          <v-toolbar-title style="color: #ee7828">Salary Management</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-btn color="#ee7828" :disabled="!isAnySalaryChecked" @click="printBill()"
            ><v-icon>mdi-printer</v-icon></v-btn
          >
          <v-dialog v-model="dialogDelete1" max-width="500px">
            <v-card style="background-color: #c7b69f">
              <v-card-title class="text-h5"
                >Are you sure you want to delete this item?</v-card-title
              >
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="red" variant="text" @click="closeDelete">Cancel</v-btn>
                <v-btn color="green" variant="text" @click="deleteItemConfirm">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
        <v-data-table
          style="background-color: #c7b69f"
          :headers="headers2"
          :items="salaryStore.salarysPaid"
        >
          <template v-slot:[`item.actions`]="{ item }">
            <v-icon size="small" @click="() => openReceiptDialog(item)">mdi-eye</v-icon>
            <v-dialog v-model="receiptDialog" max-width="1000px" persistent>
              <v-card style="background-color: #c7b69f">
                <v-card-title class="headline">Receipt Salary</v-card-title>
                <v-card-text>
                  <v-container>
                    <v-row v-if="receiptData">
                      <v-col cols="12" sm="6" md="3">UserID:</v-col>
                      <v-col cols="12" sm="6" md="3">{{ receiptData.id }}</v-col>
                      <v-col cols="12" sm="6" md="3">Date:</v-col>
                      <v-col cols="12" sm="6" md="3">{{ receiptData.date }}</v-col>
                      <v-col cols="12" sm="6" md="3">Fullname:</v-col>
                      <v-col cols="12" sm="6" md="3">{{ receiptData.fullname }}</v-col>
                      <v-col cols="12" sm="6" md="3">Working Hour:</v-col>
                      <v-col cols="12" sm="6" md="3">{{ receiptData.workinghour }}</v-col>
                      <v-col cols="12" sm="6" md="3">Work Rate:</v-col>
                      <v-col cols="12" sm="6" md="3">{{ receiptData.workrate }}</v-col>
                      <v-col cols="12" sm="6" md="3">Type:</v-col>
                      <v-col cols="12" sm="6" md="3">{{ receiptData.typepay }}</v-col>
                      <v-col cols="12" sm="6" md="3">Salary:</v-col>
                      <v-col cols="12" sm="6" md="3">{{ receiptData.salary }}</v-col>
                    </v-row>
                  </v-container>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="red" @click="closeReceiptDialog">Close</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <span class="me-2"></span>
            <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon>
            <span class="me-2"></span>
            <v-icon size="small" class="me-2" :class="{ 'disabled-checkbox': !isPaid(item) }">
              <input type="checkbox" v-model="item.isChecked" @click.stop />
            </v-icon>
            <v-dialog v-model="receiptDialog1" max-width="1200px" persistent>
              <v-card class="dialog-card" style="background-color: #2c2c2c">
                <v-card-title style="color: #ee7828" class="text-h5">Salary Receipt</v-card-title>
                <v-card-text>
                  <v-table style="background-color: #c7b69f">
                    <thead>
                      <tr>
                        <th class="text-left">Id</th>
                        <th class="text-left">Date</th>
                        <th class="text-left">Fullname</th>
                        <th class="text-left">Workinghour</th>
                        <th class="text-left">Workrate</th>
                        <th class="text-left">Type/Unit</th>
                        <th class="text-left">Status</th>
                        <th class="text-left">Salary</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="item in selectedSalarys" :key="item.id">
                        <td>{{ item.id }}</td>
                        <td>{{ item.date }}</td>
                        <td>{{ item.fullname }}</td>
                        <td>{{ item.workinghour }}</td>
                        <td>{{ item.workrate }}</td>
                        <td>{{ item.typepay }}</td>
                        <td>{{ item.status }}</td>
                        <td>{{ item.salary }}</td>
                      </tr>
                    </tbody>
                  </v-table>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="red" @click="receiptDialog1 = false">Close</v-btn>
                  <v-btn color="blue darken-1" @click="receiptDialog1 = false">Print</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </template>
          <template v-slot:no-data>
            <v-btn color="primary" @click="salaryStore.getSalarys()"> Reset </v-btn>
          </template>
        </v-data-table>
      </v-window-item>
    </v-window>
  </div>
</template>

<style>
.icon {
  font-size: 12px;
}

.disabled-checkbox {
  opacity: 0.5;
  pointer-events: none;
}

.dialog-card {
  width: 100%;
}
</style>
