<script setup lang="ts">
import { computed, nextTick, onMounted, ref, watch, watchEffect } from 'vue'
import type { VForm } from 'vuetify/components'
import type { Salary } from '@/types/Salary'
import { useSalaryStore } from '@/stores/Salary'
import { useLoadingStore } from '@/stores/loading'

const salaryStore = useSalaryStore()
const tab = ref(0)
const receiptDialog = ref(false)
const receiptDialog1 = ref(false)
const DialogSalary = ref(false)
const receiptData = ref<Salary | null>(null)
const salarys = ref<Salary[]>([])
const isPaid = (item: Salary) => {
  return item.status === 'Paid'
}
const initialSalary: Salary = {
  date: salaryStore.currentTime.toString(),
  fullname: '',
  workinghour: 0,
  workrate: 0,
  status: '',
  typepay: '',
  salary: 0,
  isChecked: false
}
const editedSalary = ref<Salary>(JSON.parse(JSON.stringify(initialSalary)))

const headers1 = [
  {
    title: 'Id',
    key: 'id',
    value: 'id'
  },
  {
    title: 'Date',
    key: 'date',
    value: 'date'
  },
  {
    title: 'Fullname',
    key: 'fullname',
    value: 'fullname'
  },
  {
    title: 'Workinghour',
    key: 'workinghour',
    value: 'workinghour'
  },
  {
    title: 'Workrate',
    key: 'workrate',
    value: 'workrate'
  },
  {
    title: 'Type',
    key: 'typepay',
    value: 'typepay'
  },
  { title: 'Actions', key: 'actions', sortable: false }
]

const headers3 = [
  {
    title: 'Id',
    key: 'id',
    value: 'id'
  },
  {
    title: 'Date',
    key: 'date',
    value: 'date'
  },
  {
    title: 'Fullname',
    key: 'fullname',
    value: 'fullname'
  },
  {
    title: 'Workinghour',
    key: 'workinghour',
    value: 'workinghour'
  },
  {
    title: 'Workrate',
    key: 'workrate',
    value: 'workrate'
  },
  {
    title: 'Type',
    key: 'typepay',
    value: 'typepay'
  },
  {
    title: 'Salary',
    key: 'salary',
    value: 'salary'
  }
]

const headers4 = [
  {
    title: 'Id',
    key: 'id',
    value: 'id'
  },
  {
    title: 'Date',
    key: 'date',
    value: 'date'
  },
  {
    title: 'Fullname',
    key: 'fullname',
    value: 'fullname'
  },
  {
    title: 'Workinghour',
    key: 'workinghour',
    value: 'workinghour'
  },
  {
    title: 'Workrate',
    key: 'workrate',
    value: 'workrate'
  },
  {
    title: 'Type',
    key: 'typepay',
    value: 'typepay'
  },
  {
    title: 'Salary',
    key: 'salary',
    value: 'salary'
  }
]

const form = ref(false)
const refForm = ref<VForm | null>(null)
const dialog1 = ref(false)
const dialog2 = ref(false)
const dialogDelete1 = ref(false)
const dialogDelete2 = ref(false)
const loading = ref(false)
const loadingStore = useLoadingStore()

let editedIndex = -1
let lastId = 4

async function deleteItem(item: Salary) {
  if (!item.id) return
  await salaryStore.getSalary(item.id)
  dialogDelete1.value = true
  editedIndex = -1
}

function onSubmit() {
  // Implement if needed
}

function closeReceiptDialog() {
  receiptDialog.value = false
}

function closeDialog() {
  DialogSalary.value = false
}

function openReceiptDialog(item: Salary) {
  receiptData.value = item
  receiptData.value.salary = item.workinghour * item.workrate
  receiptDialog.value = true
}

const SalaryDetailsDialog = ref(false)
function openSalaryDetails() {
  SalaryDetailsDialog.value = true
}

function closeDelete() {
  dialogDelete1.value = false
  nextTick(() => {
    salaryStore.clearForm()
  })
}

async function deleteItemConfirm() {
  // Delete item from list
  await salaryStore.deleteSalary()
  closeDelete()
}

const Datefirst: any = ref()
const Dateutil = ref(new Date().toISOString().slice(0, 10))
const viewmonth = ref<any>(null)

const formatDate = (date: Date): string => {
  const day = String(date.getDate()).padStart(2, '0')
  const month = String(date.getMonth() + 1).padStart(2, '0')
  const year = date.getFullYear()
  return `${day}/${month}/${year}`
}

function formatMonth(date: any) {
  const month = String(date.getMonth() + 1).padStart(2, '0')
  return month
}

const month = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
const monthname = [
  'January',
  'Febuary',
  'March',
  'April',
  'May',
  'June',
  'July',
  'August',
  'September',
  'October',
  'November',
  'December'
]
// const monthname = [{ name : 'January', id : 1 },{ name : 'Febuary', id : 2 },{ name : 'April', id : '04' }]
const year = ['2021', '2022', '2023', '2024', '2025', '2026']
const selectyear = ref('')
const currentyear = new Date().getFullYear().toString()

const showmonth = ref('')

// { name : 'January', id : 1 }

const showResultDialog1 = ref(false)
const totalSalary = ref(0)

function openshowResultDialog() {
  totalSalary.value = calculateTotalSalary()
  // เปิด Dialog เพื่อแสดงข้อความที่ต้องการ
  showResultDialog1.value = true
}
function calculateTotalSalary() {
  let total = 0
  // คำนวณผลรวมเงินเดือนของทั้งปีโดยวนลูปผ่านรายการเดือน
  salaryStore.salarys.forEach((item) => {
    if (item.date.substring(6, 10) === selectyear.value) {
      total += item.workinghour * item.workrate
    }
  })
  return total
}

watch(showmonth, (newValue) => {
  console.log(newValue)
  for (let i = 0; i < month.length; i++) {
    if (newValue == monthname[i]) {
      viewmonth.value = month[i]
    }
  }
})

function checkTime() {
  if (Datefirst.value === editedSalary.value.date) {
    // กระทำเมื่อ Start Date และ TimePay ตรงกัน
    // โชว์เวลาที่ตรงกัน
    console.log('Start Date และ TimePay ตรงกัน: ', Datefirst.value)
  } else {
    // กระทำเมื่อ Start Date และ TimePay ไม่ตรงกัน
    // เช่น แสดงข้อความหรือกระทำอื่น ๆ ตามที่คุณต้องการ
  }
}

const selectedTab = ref()

function calculate() {
  if (selectyear.value) {
    let totalSalary = 0
    for (const salary of salaryStore.salarys) {
      if (salary.date.substring(6, 10) === selectyear.value) {
        totalSalary += salary.salary
      }
    }
    // ตรวจสอบว่ามีข้อมูลในปีที่เลือกหรือไม่
    if (totalSalary > 0) {
      DialogSalary.value = true // เปิด Dialog ในกรณีที่มีข้อมูล
    } else {
      console.error('No salary data available for the selected year')
    }
  } else {
    console.error('Please select a year')
  }
}

onMounted(() => {
  salaryStore.getSalarys()
})
</script>

<template>
  <div>
    <v-tabs v-model="tab" color="#FFA500" align-tabs="center" style="background-color: #2c2c2c">
      <v-tab style="color: #ee7828; font-size: 18pt" :value="2">History Payment</v-tab>
    </v-tabs>
    <v-window v-model="tab">
      <v-window-item :value="1">
        <v-toolbar flat style="background-color: #2c2c2c">
          <v-toolbar-title style="color: #ee7828">Salary Employee</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-btn color="#ee7828" @click="openSalaryDetails()"> SalaryDetails </v-btn>
          <v-dialog v-model="dialog1" persistent width="1024">
            <v-card>
              <v-card-title>
                <span style="color: #ee7828" class="text-h5">Salary</span>
              </v-card-title>
              <v-card-text>
                <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="salaryStore.currentTime"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Date"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="salaryStore.editedSalary.fullname"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Fullname"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="salaryStore.editedSalary.workinghour"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          clearable
                          label="Workinghour"
                          type="number"
                          inputmode="numeric"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="salaryStore.editedSalary.workrate"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          clearable
                          label="Workrate"
                          type="number"
                          inputmode="numeric"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-select
                          label="Pay"
                          v-model="salaryStore.editedSalary.typepay"
                          :items="['Day', 'Month']"
                        >
                        </v-select>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-form>
                <small>*indicates required field</small>
              </v-card-text>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </v-window-item>

      <v-data-table
        style="background-color: #c7b69f"
        :headers="headers1"
        :items="salaryStore.salarysPaid"
      >
        <template v-slot:[`item.actions`]="{ item }">
          <v-icon size="small" @click="() => openReceiptDialog(item)">mdi-eye</v-icon>
          <span class="me-2"></span>
          <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon>
          <v-dialog v-model="receiptDialog" max-width="1000px" persistent>
            <v-card style="background-color: #c7b69f">
              <v-card-title class="headline">Receipt Salary</v-card-title>
              <v-card-text>
                <v-container>
                  <v-row v-if="receiptData">
                    <v-col cols="12" sm="6" md="3">UserID:</v-col>
                    <v-col cols="12" sm="6" md="3">{{ receiptData.id }}</v-col>
                    <v-col cols="12" sm="6" md="3">Date:</v-col>
                    <v-col cols="12" sm="6" md="3">{{ receiptData.date }}</v-col>
                    <v-col cols="12" sm="6" md="3">Fullname:</v-col>
                    <v-col cols="12" sm="6" md="3">{{ receiptData.fullname }}</v-col>
                    <v-col cols="12" sm="6" md="3">Working Hour:</v-col>
                    <v-col cols="12" sm="6" md="3">{{ receiptData.workinghour }}</v-col>
                    <v-col cols="12" sm="6" md="3">Work Rate:</v-col>
                    <v-col cols="12" sm="6" md="3">{{ receiptData.workrate }}</v-col>
                    <v-col cols="12" sm="6" md="3">Type:</v-col>
                    <v-col cols="12" sm="6" md="3">{{ receiptData.typepay }}</v-col>
                    <v-col cols="12" sm="6" md="3">Salary:</v-col>
                    <v-col cols="12" sm="6" md="3">{{ receiptData.salary }}</v-col>
                  </v-row>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="red" @click="closeReceiptDialog">Close</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </template>
      </v-data-table>

      <v-dialog v-model="SalaryDetailsDialog" max-width="1200px" persistent>
        <v-card class="dialog-card" style="background-color: #c7b69f">
          <v-toolbar flat style="background-color: #2c2c2c">
            <v-card-title style="color: #ee7828" class="text-h5">Salary Details</v-card-title>
          </v-toolbar>
          <v-card-text>
            <v-card-actions style="display: flex; justify-content: flex-end">
              <v-tabs v-model="selectedTab">
                <v-tab color="black" value="month">Month</v-tab>
                <v-tab color="black" value="year">Year</v-tab>
              </v-tabs>
              <v-spacer></v-spacer>
            </v-card-actions>

            <v-row v-if="selectedTab === 'month'" class="mx-auto my-4" justify="end">
              <v-col cols="6">
                <v-select
                  v-model="showmonth"
                  item-title="name"
                  :items="monthname"
                  label="Select Month"
                  @change="checkTime"
                ></v-select>
              </v-col>
            </v-row>

            <v-row v-if="selectedTab === 'year'" class="mx-auto my-4" justify="end">
              <v-col cols="6">
                <v-select
                  v-model="selectyear"
                  item-title="name"
                  :items="year"
                  label="Select Year"
                  @change="checkTime"
                ></v-select>
              </v-col>
            </v-row>

            <v-tab-item v-if="selectedTab === 'month'">
              <v-data-table
                style="background-color: #efcead"
                :headers="headers3"
                :items="
                  salaryStore.salarys.filter(
                    (item) =>
                      item.date.substring(0, 2) == viewmonth &&
                      item.date.substring(6, 10) == currentyear
                  )
                "
              >
              </v-data-table>
            </v-tab-item>

            <v-tab-item v-if="selectedTab === 'year'">
              <v-data-table
                style="background-color: #efcead"
                :headers="headers4"
                :items="
                  salaryStore.salarys.filter((item) => item.date.substring(6, 10) == selectyear)
                "
              >
              </v-data-table>
              <br />
              <v-btn color="primary" @click="openshowResultDialog">Calculate Salary</v-btn>
            </v-tab-item>
          </v-card-text>
          <v-card-actions
            style="display: flex; justify-content: flex-end; background-color: #2c2c2c"
          >
            <v-btn color="red" @click="SalaryDetailsDialog = false">Close</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog v-model="showResultDialog1" max-width="500px" persistent>
        <v-card class="dialog-card" style="background-color: #c7b69f">
          <v-card-title class="text-h5">Yearly Salary Result</v-card-title>
          <v-card-text>
            <v-text v-if="!totalSalary && selectyear" class="red--text"
              >No data available for the selected year</v-text
            >
            <v-text v-else-if="!selectyear" class="red--text"
              >Please select a year to proceed</v-text
            >
            <v-text v-else>Total Salary: {{ totalSalary }}</v-text>
          </v-card-text>
          <v-card-actions style="display: flex; justify-content: flex-end">
            <v-btn color="red" @click="showResultDialog1 = false">Close</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog v-model="dialogDelete1" max-width="500px">
        <v-card style="background-color: #c7b69f">
          <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="red" variant="text" @click="closeDelete">Cancel</v-btn>
            <v-btn color="green" variant="text" @click="deleteItemConfirm">OK</v-btn>
            <v-spacer></v-spacer>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-window>
  </div>
</template>

<style>
.icon {
  font-size: 12px;
}

.disabled-checkbox {
  opacity: 0.5;
  pointer-events: none;
}

.dialog-card {
  width: 100%;
}
</style>
