<script setup lang="ts">
import { useBranchStore } from '@/stores/branch'
import { useLoadingStore } from '@/stores/loading'
import type { VForm } from 'vuetify/lib/components/index.mjs'
import type { Branch } from '@/types/Branch'
import { nextTick, onMounted, ref } from 'vue'

const BranchStore = useBranchStore()

const headers = [
  {
    title: 'Id',
    key: 'id',
    value: 'id'
  },
  {
    title: 'Name',
    key: 'name',
    value: 'name'
  },
  {
    title: 'Tel',
    key: 'tel',
    value: 'tel'
  },
  {
    title: 'Address',
    key: 'address',
    value: 'address'
  },

  { title: 'Actions', key: 'actions', sortable: false }
]

const loadingStore = useLoadingStore()
const form = ref(false)
const refForm = ref<VForm | null>(null)
const dialog = ref(false)
const dialogDelete = ref(false)
const loading = ref(false)

let editedIndex = -1
let lastId = 4

function onSubmit() {}

function closeDelete() {
  dialogDelete.value = false
  nextTick(() => {
    BranchStore.clearForm()
  })
}

async function deleteItemConfirm() {
  // Delete item from list
  await BranchStore.deleteBranch()
  closeDelete()
}

async function editItem(item: Branch) {
  if (!item.id) return
  await BranchStore.getBranch(item.id)
  dialog.value = true
}
async function deleteItem(item: Branch) {
  if (!item.id) return
  await BranchStore.getBranch(item.id)
  dialogDelete.value = true
  editedIndex = -1
}

function closeDialog() {
  dialog.value = false
  nextTick(() => {
    BranchStore.clearForm()
  })
}

async function save() {
  const { valid } = await refForm.value!.validate()
  if (!valid) return

  await BranchStore.saveBranch()
  closeDialog()
}

//data function

onMounted(() => {
  BranchStore.getBranchs()
})
</script>

<template>
  <div>
    <v-data-table :headers="headers" :items="BranchStore.Branchs" style="background-color: #c7b69f">
      <template v-slot:top>
        <v-toolbar flat style="background-color: #2c2c2c">
          <v-toolbar-title style="color: #ee7828">Branch</v-toolbar-title>
          <v-toolbar-title style="color: black">Branch</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <!-- Put Edited Dialog -->

          <v-dialog v-model="dialog" persistent width="1024">
            <template v-slot:activator="{ props }">
              <v-btn style="color: #ee7828" v-bind="props"> New Branch </v-btn>
            </template>
            <v-card style="background-color: #c7b69f">
              <v-card-title style="background-color: #2c2c2c">
                <span style="color: #ee7828" class="text-h5">Branch Details</span>
              </v-card-title>
              <v-card-text>
                <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="BranchStore.editedBranch.name"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Name"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="BranchStore.editedBranch.tel"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Telephone"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="BranchStore.editedBranch.address"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          clearable
                          label="Address"
                          placeholder="Enter branch address"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-form>
                <small>*indicates required field</small>
              </v-card-text>
              <v-card-actions style="background-color: #2c2c2c">
                <v-spacer></v-spacer>
                <v-btn color="red" variant="text" @click="closeDialog()"> Close </v-btn>
                <v-btn color="green" variant="text" @click="save()"> Save </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <!-- Delete Dialog-->
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card style="background-color: #c7b69f">
              <v-card>
                <v-card-title class="text-h5">
                  Are you sure you want to delete this item?
                </v-card-title>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="red" variant="text" @click="closeDelete">Cancel</v-btn>
                  <v-btn color="green" variant="text" @click="deleteItemConfirm">OK</v-btn>
                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-card>
              <!-- This line was added -->
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-icon size="small" class="me-2" @click="editItem(item)"> mdi-pencil </v-icon>
        <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="BranchStore.getBranchs()"> Reset </v-btn>
      </template>
    </v-data-table>
  </div>
</template>
<style scoped>
.Branch-title {
  font-size: 24px;
  font-weight: 520;
  color: white;
}
</style>
