<script setup lang="ts">
import { computed, nextTick, ref, watch } from 'vue'
import jsQR from 'jsqr'
import ProductList from '@/components/ProductList.vue'
import ReceiptItemList from '@/components/ReceiptItemList.vue'
import MemberSearch from '@/components/MemberSearch.vue'

import { useAuthStore } from '@/stores/auth'

import { type ReceiptItem } from '@/types/ReceiptItem'
import { type Product } from '@/types/Product'
import type { Receipt } from '@/types/Receipt'
import ReceiptPaper from './ReceiptPaper.vue'
import { onMounted } from 'vue'
import type { Member } from '@/types/Member'
import { useReceiptStore } from '@/stores/receipt'
import { usePosStore } from '@/stores/pos'
import { useMemberStore } from '@/stores/member'
import type { VForm } from 'vuetify/components'
import member from '@/services/member'
import { usePromotionStore } from '@/stores/promotion'
const memberStore = useMemberStore()
const receiptStore = useReceiptStore()
const authStore = useAuthStore()
const posStore = usePosStore()
const snackbar = ref(false)
const log = ref('')
const product = ref<Product>()
const receiptItemList = ref<typeof ReceiptItemList | null>(null)
const dialogReceipt = ref(false)

function selected(p: Product) {
  if (!p.id) return
  product.value = p
  const newReceiptItem: ReceiptItem = {
    id: -1,
    name: p.name,
    price: p.price,
    unit: 1,
    productId: p.id
  }
  receiptStore.addReceiptItem(newReceiptItem)
  snackbar.value = true
}

const currentUser = authStore.getCurrentUser()

const clearForm = () => {}

// const refreshReceiptItems = () => {
//   receiptStore.receiptItems.value = [...receiptItems.value]
// }

const tab = ref(null)
onMounted(async () => {
  await posStore.getProducts()
})
const dialog = ref(false)
const form = ref(false)
const refForm = ref<VForm | null>(null)
const tel = ref()
const memberName = ref('')
const promotionDialog = ref(false)

function onSubmit() {
  // Implement if needed
}

const promotionStore = usePromotionStore()

const selectedPromotion = ref<string | null>(null)

const getPromotion = async () => {
  await promotionStore.getPromotions() // เรียกใช้งานฟังก์ชัน getPromotions() ของ promotionStore
  promotionDialog.value = true // เปิด Dialog โปรโมชั่น
}

const promotionNames = computed(() => {
  return promotionStore.promotions.map((promotion) => promotion.name)
})

async function activegetNameByTelember(id: string) {
  await memberStore.searchMember(tel.value)
  const dataTelember = memberStore.getNameByTelember(id)
  console.log(dataTelember)
}

function closeDialog() {
  dialog.value = false
  nextTick(() => {
    memberStore.clearForm()
  })
}

async function save() {
  const { valid } = await refForm.value!.validate()
  if (!valid) return
  await memberStore.saveMember()
  closeDialog()
}

function closeDialogPromotion() {
  promotionDialog.value = false
  // nextTick(() => {
  //   memberStore.clearForm()
  // })
}

async function savePromotion() {
  // const { valid } = await refForm.value!.validate()
  // if (!valid) return
  // await memberStore.saveMember()
  closeDialogPromotion()
}

function changeColor(type: string): void {
  let button: HTMLElement | null = null
  let color = '' // กำหนดตัวแปรสำหรับเก็บสีของปุ่ม

  // กำหนดสีตามชนิดของปุ่ม
  if (type === 'cash') {
    button = document.querySelector('.payment-buttons .mdi-cash')
    color = 'green' // กำหนดสีสำหรับปุ่ม cash
  } else if (type === 'qrcode') {
    button = document.querySelector('.payment-buttons .mdi-qrcode-scan')
    color = 'green' // กำหนดสีสำหรับปุ่ม qrcode
  } else if (type === 'credit') {
    button = document.querySelector('.payment-buttons .mdi-credit-card')
    color = 'green' // กำหนดสีสำหรับปุ่ม credit
  }

  // เปลี่ยนสีของปุ่ม
  if (button) {
    const isActive = button.getAttribute('data-active')
    if (isActive === 'true') {
      button.setAttribute('data-active', 'false')
      button.style.backgroundColor = '' // เมื่อปุ่มถูกกดอยู่แล้ว ล้างสี
    } else {
      button.setAttribute('data-active', 'true')
      button.style.backgroundColor = color // กำหนดสีของปุ่ม
    }
  }
}
</script>

<template>
  <v-container class="box" style="background-color: #2c2c2c">
    <v-row>
      <!-- เลือกเมนู -->
      <v-col cols="12" md="6">
        <v-sheet
          max-width="600"
          min-width="300"
          height="815"
          elevation="3"
          class="overflow-auto"
          style="background-color: #c7b69f"
        >
          <v-tabs
            style="background-color: #171715"
            v-model="tab"
            color="deep-purple-accent-4"
            align-tabs="center"
          >
            <v-tab style="color: #ee7828" :value="1">เครื่องดื่ม</v-tab>
            <v-tab style="color: #ee7828" :value="3">ขนม</v-tab>
            <v-tab style="color: #ee7828" :value="2">อาหาร</v-tab>
          </v-tabs>
          <v-window v-model="tab">
            <v-window-item :value="1">
              <ProductList :products="posStore.products1" @selected="selected"></ProductList>
            </v-window-item>
            <v-window-item :value="3">
              <ProductList :products="posStore.products3" @selected="selected"></ProductList>
            </v-window-item>
            <v-window-item :value="2">
              <ProductList :products="posStore.products2" @selected="selected"></ProductList>
            </v-window-item>
          </v-window>
        </v-sheet>
      </v-col>

      <!-- โชว์รายการ -->
      <v-col cols="12" md="6">
        <v-container style="padding: 0">
          <v-row>
            <v-col cols="12">
              <ReceiptItemList v-model="receiptStore.receiptItems" :editable="true">
              </ReceiptItemList>
            </v-col>
            <v-col cols="12">
              <v-sheet
                max-width="600"
                min-width="300"
                height="175"
                elevation="3"
                style="background-color: #c7b69f"
              >
                <v-row>
                  <v-col cols="6">
                    <v-col>
                      <v-text-field
                        v-model="tel"
                        density="compact"
                        variant="solo"
                        label="Search"
                        append-inner-icon="mdi-magnify"
                        single-line
                        hide-details
                        @click="activegetNameByTelember(tel)"
                        @keyup.enter="activegetNameByTelember(tel)"
                      ></v-text-field>
                    </v-col>
                  </v-col>
                  <v-col>
                    <v-col>
                      <v-col
                        v-for="(item, index) in memberStore.datagetNameByTelember"
                        :key="index"
                      >
                        <v-text style="font-weight: bold">{{ 'Name: ' + item.name }}</v-text>
                      </v-col>
                    </v-col>
                  </v-col>
                </v-row>
                <v-row>
                  <!-- add -->
                  <v-col cols="6" class="pa-2 text-center">
                    <v-dialog v-model="dialog" persistent width="1024">
                      <template v-slot:activator="{ props }">
                        <v-btn color="#ee7828" style="margin-right: 10px" v-bind="props">
                          <v-icon>mdi-account</v-icon>
                          Add New Member
                        </v-btn>
                        <v-spacer></v-spacer>
                      </template>
                      <v-card style="background-color: #c7b69f">
                        <v-card-title style="background-color: #2c2c2c">
                          <span class="text-h5" style="color: chocolate">Register Member</span>
                        </v-card-title>
                        <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit"></v-form>
                        <v-card-text>
                          <v-container>
                            <v-row>
                              <v-col cols="12" sm="6">
                                <v-text-field
                                  label="Fullname*"
                                  v-model="memberStore.editedMember.name"
                                  required
                                ></v-text-field>
                              </v-col>
                              <v-col cols="12" sm="6">
                                <v-text-field
                                  label="Tel*"
                                  required
                                  v-model="memberStore.editedMember.tel"
                                  :rules="['Please enter a valid phone number']"
                                ></v-text-field>
                              </v-col>
                            </v-row>
                          </v-container>
                        </v-card-text>

                        <v-card-actions style="background-color: #2c2c2c">
                          <v-spacer></v-spacer>
                          <v-btn color="red" variant="text" @click="closeDialog()"> Close </v-btn>
                          <v-btn color="green" variant="text" @click="save()"> Save </v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                  </v-col>

                  <!-- Promotion -->
                  <v-col cols="6" class="pa-2 text-center">
                    <v-btn color="#3a2c88" style="margin-left: 10px" @click="getPromotion">
                      <v-icon size="24">mdi-tag</v-icon>
                      <span style="font-size: 16px; opacity: 1.2">Promotion</span>
                    </v-btn>
                    <v-dialog v-model="promotionDialog" persistent width="1024">
                      <v-spacer></v-spacer>
                      <v-card style="background-color: #c7b69f">
                        <v-card-title style="background-color: #2c2c2c">
                          <span class="text-h5" style="color: chocolate">Promotion</span>
                        </v-card-title>
                        <v-card-text>
                          <v-select
                            v-model="selectedPromotion"
                            :items="promotionNames"
                            label="Select Promotion"
                          ></v-select>
                        </v-card-text>
                        <v-card-actions style="background-color: #2c2c2c">
                          <v-spacer></v-spacer>
                          <v-btn color="red" variant="text" @click="closeDialogPromotion">
                            Close
                          </v-btn>
                          <v-btn color="green" variant="text" @click="savePromotion"> Save </v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                  </v-col>
                </v-row>
              </v-sheet>
            </v-col>

            <v-col cols="12">
              <v-sheet
                max-width="600"
                min-width="300"
                height="158"
                elevation="6"
                style="background-color: #c7b69f"
              >
                <v-container style="text-align: center">
                  <v-row>
                    <v-col class="text-h5" cols="12"
                      >รวมเงิน : {{ receiptStore.receipt.total }} บาท</v-col
                    >
                    <v-col class="text-h5" cols="12"
                      >รวม : {{ receiptStore.receipt.amount }} ชิ้น</v-col
                    >
                  </v-row>
                </v-container>
              </v-sheet>
            </v-col>

            <!-- ที่ชำระเงิน -->
            <v-col cols="12">
              <v-sheet
                max-width="600"
                min-width="300"
                height="150"
                elevation="3"
                style="background-color: #c7b69f"
              >
                <v-container style="text-align: center">
                  <v-row>
                    <v-col>
                      <v-btn
                        class="payment-buttons body btn:hover"
                        @click="changeColor('cash')"
                        style="background-color: green; color: white"
                      >
                        <v-icon style="font-size: 26px">mdi-cash</v-icon>
                      </v-btn>
                    </v-col>
                    <v-col>
                      <v-btn
                        class="payment-buttons body btn:hover"
                        @click="changeColor('qrcode')"
                        style="background-color: green; color: white"
                      >
                        <v-icon style="font-size: 26px">mdi-qrcode-scan</v-icon>
                      </v-btn>
                    </v-col>
                    <v-col>
                      <v-btn
                        class="payment-buttons body btn:hover"
                        @click="changeColor('credit')"
                        style="background-color: green; color: white"
                      >
                        <v-icon style="font-size: 26px">mdi-credit-card</v-icon>
                      </v-btn>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col>
                      <v-btn
                        color="green"
                        class="payment-buttons body btn:hover"
                        @click="dialogReceipt = true"
                        >ชำระเงิน</v-btn
                      >
                    </v-col>
                    <v-col>
                      <v-btn class="payment-buttons body btn:hover" color="red" @click="clearForm"
                        >ยกเลิก</v-btn
                      >
                    </v-col>
                  </v-row>
                </v-container>
              </v-sheet>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>

  <ReceiptPaper
    v-model:modelValue="dialogReceipt"
    :receipt="receiptStore.receipt"
    :receiptItems="receiptStore.receiptItems"
    @agree="
      () => {
        receiptStore.order()
      }
    "
  ></ReceiptPaper>
  <!-- <v-snackbar v-model="snackbar">
    {{ product }}

    <template v-slot:actions>
      <v-btn color="pink" variant="text" @click="snackbar = false"> Close </v-btn>
    </template>
  </v-snackbar> -->
</template>

(await posStore)(await __VLS_ctx.posStore)(await __VLS_ctx.posStore)(await __VLS_ctx.posStore)(await
posStore)(await __VLS_ctx.posStore)(await __VLS_ctx.posStore)(await __VLS_ctx.posStore)(await
posStore)(await __VLS_ctx.posStore)(await __VLS_ctx.posStore)(await __VLS_ctx.posStore)
<style>
.text-center {
  text-align: center;
}

.payment-button {
  background-color: rgba(0, 0, 0, 0.1);
}

.body {
  background: #efefef;
}

.payment-button .v-icon {
  background-color: #efefef;
  border: none;
  border-radius: 25px;
  color: #424242;
  box-shadow:
    -6px -6px 10px #f9f9f9,
    6px 6px 10 px #00000026;
}

.btn:hover {
  box-shadow:
    2px 2px 2px #f9f9f9,
    -2px -2px 2px #00000026;
}

.payment-action {
  background-color: rgba(0, 0, 0, 0.1);
}

.box {
  background-image: url('https://www.brighttv.co.th/wp-content/uploads/2019/10/S__4161546.jpg');
  border: 4px solid #171715;
  border-radius: 30px;
  backdrop-filter: blur(100px);
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
