<script setup lang="ts">
import type { Receipt } from '@/types/Receipt'
import type { ReceiptItem } from '@/types/ReceiptItem'
import { computed, ref } from 'vue'
import ReceiptItemList from '@/components/ReceiptItemList.vue'
import { useReceiptStore } from '@/stores/receipt'

const props = defineProps<{
  modelValue: boolean
  receipt: Receipt
  receiptItems: ReceiptItem[]
}>()
const emit = defineEmits<{
  'update:modelValue': [boolean]
  'update:modelValue': [boolean]
  agree: []
}>()
const value = computed({
  get() {
    return props.modelValue
  },
  set(value) {
    emit('update:modelValue', value)
  }
})

const receiptStore = useReceiptStore()
</script>
<template>
  <v-row justify="center">
    <v-dialog v-model="value" persistent width="auto">
      <v-card style="background-color: #c7b69f">
        <v-card-title style="background-color: #2c2c2c">
          <span style="color: #ee7828" class="text-h5">Receipt</span>
        </v-card-title>
        <v-card-text>
          <v-sheet>
            <p style="background-color: #c7b69f">
              วันที่: {{ receipt.createdDate.toLocaleDateString() }} พนักงาน:
              {{ receipt.user?.fullName }} สมาชิก:
              {{ receipt.member?.name }}
            </p>
          </v-sheet>
          <ReceiptItemList :editable="false"></ReceiptItemList>
          <v-sheet>
            <p style="background-color: #171715; color: #ee7828">
              รวมเป็น: {{ receipt.total }} บาท จำนวน: {{ receipt.amount }} ชิ้น
            </p>
          </v-sheet>
        </v-card-text>
        <v-card-actions style="background-color: #2c2c2c">
          <v-spacer></v-spacer>
          <v-btn color="red" variant="text" @click="value = false"> Disagree </v-btn>
          <v-btn
            color="green-darken-1"
            variant="text"
            @click="
              () => {
                value = false
                console.log(receipt)
                console.log(receiptItems)
                emit('agree')
              }
            "
          >
            Agree
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
  <v-dialog v-model="receiptStore.statusPayment">
    <v-card width="300" height="100" style="margin-left: 600px">
      <v-card-title style="text-align: center"> Payment Status </v-card-title>
      <v-card-text style="text-align: center">
        Your payment successfully. <v-icon color="success">mdi-check-circle</v-icon>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>
