<!-- eslint-disable vue/no-parsing-error -->
<script lang="ts" setup>
import { computed, nextTick, onMounted, ref } from 'vue'
import type { VForm } from 'vuetify/components'
import type { Checkwork } from '@/types/CheckWork'
import http from '@/services/http'
import { useLoadingStore } from '@/stores/loading'
import checkworkService from '@/services/checkwork'
import { useCheckworkStore } from '@/stores/checkwork'
import { useRoleStore } from '@/stores/role'
import { useAuthStore } from '@/stores/auth'
import type { AxiosResponse } from 'axios'
import checkwork from '@/services/checkwork'
import { useUserStore } from '@/stores/user'
import axios from 'axios'
import { Bar } from 'vue-chartjs'
import { Line } from 'vue-chartjs'
import { Pie } from 'vue-chartjs'
ChartJS.register(
  Title,
  Tooltip,
  Legend,
  BarElement,
  CategoryScale,
  LinearScale,
  ArcElement,
  Tooltip,
  Legend,
  RadialLinearScale,
  PointElement,
  Filler,
  LineElement
)
import {
  Chart as ChartJS,
  Title,
  Tooltip,
  Legend,
  BarElement,
  CategoryScale,
  LinearScale,
  ArcElement,
  RadialLinearScale,
  PointElement,
  Filler,
  LineElement
} from 'chart.js'
const authStore = useAuthStore()
const checkworkStore = useCheckworkStore()
const headers = [
  {
    title: 'Id',
    key: 'id',
    value: 'id'
  },
  {
    title: 'Full Name',
    key: 'fullname',
    value: 'fullname'
  },
  {
    title: 'Date',
    key: 'date',
    value: 'date'
  },
  {
    title: 'Timein',
    key: 'timein',
    value: 'timein'
  },
  {
    title: 'Timeout',
    key: 'timeout',
    value: 'timeout'
  },
  { title: 'Actions', key: 'actions', sortable: false }
]
const loadingStore = useLoadingStore()
const roleStore = useRoleStore()
const form = ref(false)
const refForm = ref<VForm | null>(null)
const dialog = ref(false)
const dialogDelete = ref(false)
const dialogEr = ref(false)
const userStore = useUserStore()
const dialogSuctimein = ref(false)
const dialogNothavetimein = ref(false)
const dialoghavetimeinandtimeout = ref(false)
const loading = ref(false)
const Datefirst = ref(new Date().toISOString().slice(0, 10))
const Dateutil = ref(new Date().toISOString().slice(0, 10))
const roles = ref()
const currentTime = ref<string>('')
const currentDate = ref<string>('')
const historydate = ref(false)
const date = ref<Date | null>(null)
const labels = ref()
const data = ref()

let editedIndex = -1
let lastId = 4
function onSubmit() {}
function closeDelete() {
  dialogDelete.value = false
  nextTick(() => {
    checkworkStore.clearForm()
  })
}

async function deleteItemConfirm() {
  // Delete item from list
  await checkworkStore.deleteCheckwork()
  closeDelete()
}
async function editItem(item: Checkwork) {
  if (!item.id) return
  await checkworkStore.getCheckWork(item.id)
  dialog.value = true
}
async function deleteItem(item: Checkwork) {
  if (!item.id) return
  await checkworkStore.getCheckWork(item.id)
  dialogDelete.value = true
  editedIndex = -1
}
function closeDialog() {
  dialog.value = false
  nextTick(() => {
    checkworkStore.clearForm()
  })
}

async function save() {
  const { valid } = await refForm.value!.validate()
  if (!valid) return
  await checkworkStore.saveCheckwork()
  dialogSuctimein.value = true

  closeDialog()
}

onMounted(async () => {
  await checkworkStore.getCheckworks()
  await roleStore.getRoles()
  await getReportYear()
  getCurrentDateTime()
  getCurrentDate()
  setInterval(() => {
    getCurrentDateTime()
    getCurrentDate()
  }, 1000)
})

const filteredCheckworks = computed(() => {
  const currentUserID = authStore.getCurrentUser()?.email
  // Get the start date and end date from the Datefirst and Dateutil variables
  const startDate = Datefirst.value
  const endDate = Dateutil.value

  // Filter the checkworks array to include only items with matching fullname and within the specified date range
  return checkworkStore.checkworks.filter((checkwork) => {
    return (
      checkwork.fullname === currentUserID &&
      checkwork.date >= startDate &&
      checkwork.date <= endDate
    )
  })
})

function fillFullname() {
  checkworkStore.editedCheckWork.fullname = authStore.getCurrentUser()?.email || ''
}

function fillDate() {
  const today = new Date().toISOString().slice(0, 10)
  checkworkStore.editedCheckWork.date = today
}

function storeCurrentTimein() {
  const currentTime = new Date().toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' })
  checkworkStore.editedCheckWork.timein = currentTime
}

function storeCurrentTimeOut() {
  const currentTime = new Date().toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' })
  checkworkStore.editedCheckWork.timeout = currentTime
}

function getCurrentDateTime() {
  const now = new Date()
  const year = String(now.getFullYear())
  const month = String(now.getMonth() + 1).padStart(2, '0')
  const day = String(now.getDate()).padStart(2, '0')
  const hours = String(now.getHours()).padStart(2, '0')
  const minutes = String(now.getMinutes()).padStart(2, '0')
  const seconds = String(now.getSeconds()).padStart(2, '0')
  currentTime.value = `${day}-${month}-${year} ${hours}:${minutes}:${seconds}`
}

function getCurrentDate() {
  const now = new Date()
  const year = String(now.getFullYear())
  const month = String(now.getMonth() + 1).padStart(2, '0')
  const day = String(now.getDate()).padStart(2, '0')
  currentDate.value = `${day}/${month}/${year}`
}

async function checkTimeoutAndProceed() {
  const currentUserEmail = authStore.getCurrentUser()?.email

  console.log(userStore.editedUser.branch)

  if (currentUserEmail) {
    const currentUserData = checkworkStore.checkworks
      .filter((item) => item.fullname === currentUserEmail)
      .pop()

    if (currentUserData) {
      if (currentUserData.timeout) {
        console.log('มีข้อมูล timeout สำหรับผู้ใช้งานนี้แล้ว')
        dialoghavetimeinandtimeout.value = true
      } else {
        console.log('ไม่มีข้อมูล timeout ในช่องล่าสุด')
        const currentTime = new Date().toLocaleTimeString([], {
          hour: '2-digit',
          minute: '2-digit'
        })
        currentUserData.timeout = currentTime

        const timein = new Date(currentUserData.timein).getTime()
        const timeout = new Date(currentUserData.timeout).getTime()
        const differenceInHours = (timeout - timein) / (1000 * 60 * 60)

        if (differenceInHours >= 8 && differenceInHours < 9) {
          console.log('Ok')
          currentUserData.status = 'Ok' // กำหนดค่า status โดยตรง
          await editItem(currentUserData)
          // Set a flag or trigger an action indicating normal work hours
        } else if (differenceInHours >= 9) {
          console.log('OT')
          currentUserData.status = 'OT' // กำหนดค่า status โดยตรง
          await editItem(currentUserData)
          // Set a flag or trigger an action indicating overtime
        } else {
          console.log('Fill')
          currentUserData.status = 'Fill' // กำหนดค่า status โดยตรง
          await editItem(currentUserData)
          // Set a flag or trigger an action indicating to fill the time
        }

        storeCurrentTimeOut()
        await save()
      }
    } else {
      console.log('ไม่พบข้อมูลสำหรับผู้ใช้งานนี้ในตาราง')
      dialogNothavetimein.value = true
    }
  } else {
    console.log('ไม่พบข้อมูลผู้ใช้งาน')
  }
}

async function checkTimeinAndProceed() {
  // รับอีเมลของผู้ใช้ปัจจุบัน

  const currentUserEmail = authStore.getCurrentUser()?.email

  if (currentUserEmail) {
    // กรอง checkworks เพื่อค้นหารายการล่าสุดสำหรับผู้ใช้ปัจจุบันในวันที่ปัจจุบัน
    const currentUserData = checkworkStore.checkworks
      .filter(
        (item) =>
          item.fullname === currentUserEmail && item.date === new Date().toISOString().slice(0, 10)
      )
      .pop()

    if (currentUserData) {
      console.log('ผู้ใช้งานได้ทำการ Check-in วันนี้แล้ว')
      dialog.value = false
      dialogEr.value = true
    } else {
      console.log('ผู้ใช้งานยังไม่ได้ทำการ Check-in วันนี้')

      // กำหนดเวลาปัจจุบันเป็นเวลา Check-in
      const currentTime = new Date().toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' })

      // สร้างวัตถุ Checkwork ใหม่
      const newCheckwork = {
        fullname: currentUserEmail,
        password: '',
        date: new Date().toISOString().slice(0, 10),
        timein: currentTime,
        timeout: ''
      }

      // บันทึกวัตถุ Checkwork ใหม่
      // storeCurrentTimein();
      // await save();
      console.log('บันทึกเวลา Check-in เรียบร้อยแล้ว')
    }
  } else {
    console.log('ไม่มีผู้ใช้งานเข้าสู่ระบบ')
  }
}

const dialogCheckworkTime = ref(false)

const closeCheckworkTimeDialog = () => {
  dialogCheckworkTime.value = false
}
async function getReportYear() {
  try {
    const idData = authStore.getCurrentUser()?.id
    // id = 1
    const res = await axios.get(`http://localhost:3000/users/CountEntriesByYear/${idData}`)
    console.log('get idData: ', res)
    const dataYear = res.data[0].Year
    const totalEntries = res.data[0].TotalEntries
    console.log('dataYear: ', dataYear)
    console.log('TotalEntries: ', totalEntries)
    const labels = res.data.map((it: any) => it.Year) // Corrected property name to 'Year'
    const data = res.data.map((it: any) => it.TotalEntries) // Corrected property name to 'TotalEntries'

    chartData.value = {
      labels: labels,
      datasets: [{ label: 'Total By Year', backgroundColor: '#80deea', data: data }]
    }
  } catch (error) {
    console.error('Error fetching report data: ', error)
    // Handle error as needed
  }
}
const chartData = ref({
  labels: [],
  datasets: [{ label: 'Bill', backgroundColor: '#f87979', data: [] }]
})
const chartOptions = ref({
  responsive: true,
  maintainAspectRatio: false,
  scales: {
    y: {
      title: {
        display: true,
        text: 'Expenses'
      }
    }
  }
})
// const changeChartData = (type: string) => {
//   switch (type) {
//     case 'month':
//       getReportMount()
//       break
//     case 'year':
//       getReportYear()
//       break
//     default:
//       break
//   }
// }
const showDialog = ref(false)
const graphshowing = ref(false)
</script>
<template>
  <div>
    <v-data-table :headers="headers" :items="filteredCheckworks" style="background-color: #c7b69f">
      <template v-slot:top>
        <v-toolbar flat style="background-color: #2c2c2c">
          <v-toolbar-title style="color: #ee7828">Checkworks</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-col cols="3">
            <v-btn
              @click="showDialog = true"
              style="background-color: #2c2c2c !important; color: #ee7828"
              >Show Chart CheckWork</v-btn
            >
          </v-col>
          <v-dialog v-model="dialog" persistent width="1024">
            <template v-slot:activator="{ props }">
              <v-text style="color: #ee7828" type="date">ตั้งแต่:&nbsp;&nbsp;</v-text>
              <v-text-field style="color: #ee7828" type="date" v-model="Datefirst"></v-text-field>
              <v-text style="color: #ee7828" type="date">&nbsp;&nbsp; ถึง :&nbsp;&nbsp;</v-text>
              <v-text-field style="color: #ee7828" type="date" v-model="Dateutil"></v-text-field>
              <v-btn
                style="color: #ee7828"
                v-bind="props"
                @click="fillFullname(), fillDate(), storeCurrentTimein(), checkTimeinAndProceed()"
              >
                Check In
              </v-btn>
              <v-btn
                style="color: #ee7828"
                @click="fillFullname(), fillDate(), checkTimeoutAndProceed()"
              >
                Check Out
              </v-btn>
            </template>

            <v-card style="background-color: #c7b69f">
              <v-col cols="auto" class="d-flex justify-center">
                {{ 'ID: ' + (authStore.getCurrentUser()?.id || '') }}<br />
                {{ 'Name: ' + (authStore.getCurrentUser()?.fullName || '') }}<br />
                {{ 'Role: ' + (authStore.getCurrentUser()?.position || '') }}<br />
                {{ 'Email: ' + (authStore.getCurrentUser()?.email || '') }}<br />
                {{ 'Timestamp: ' + currentTime }}
              </v-col>
              <v-col cols="auto" class="d-flex justify-center">
                <v-btn size="x-large" @click="save()">กดเพื่อเช็คชื่อเวลาเข้างาน</v-btn>
              </v-col>
              <v-card-text>
                <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                  <v-container>
                    <v-row>
                      <v-col
                        cols="12"
                        sm="12"
                        md="4"
                        v-show="!checkworkStore.editedCheckWork.fullname"
                      >
                        <v-text-field
                          v-model="checkworkStore.editedCheckWork.fullname"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Fullname"
                        ></v-text-field>
                      </v-col>

                      <v-col cols="12" sm="12" md="4" v-show="!checkworkStore.editedCheckWork.date">
                        <v-text-field
                          v-model="checkworkStore.editedCheckWork.date"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Date "
                          type="Date"
                        ></v-text-field>
                      </v-col>

                      <v-col
                        cols="12"
                        sm="12"
                        md="4"
                        v-show="
                          !checkworkStore.editedCheckWork.timein &&
                          !checkworkStore.editedCheckWork.timeout
                        "
                      >
                        <v-text-field
                          v-model="checkworkStore.editedCheckWork.timein"
                          :readonly="loading"
                          class="mb-2"
                          clearable
                          label="TimeIn"
                        ></v-text-field>
                      </v-col>

                      <v-col cols="12" sm="12" md="4"> </v-col>
                    </v-row>
                  </v-container>
                </v-form>
              </v-card-text>
            </v-card>
          </v-dialog>

          <!-- Delete Dialog-->
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h5 text-center">Confirm to delete?</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  color="white"
                  variant="text"
                  class="custom-ok-button"
                  @click="deleteItemConfirm"
                  >OK</v-btn
                >
                <v-btn color="blue-darken-1" variant="text" @click="closeDelete">Cancel</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon>
      </template>

      <template v-slot:no-data>
        <v-btn color="ee7828" @click="checkworkStore.getCheckworks"> Reset </v-btn>
      </template>
    </v-data-table>
    <v-dialog v-model="dialogCheckworkTime" persistent width="1024">
      <v-card>
        <v-card-title>
          <span class="text-h5">Checkwork Time</span>
        </v-card-title>
        <v-card-text>
          <!-- Virtual Data Table -->
          <v-data-table-virtual
            :virtualHeaders="headers"
            :items="filteredCheckworks"
            height="400"
            item-value="id"
          ></v-data-table-virtual>
        </v-card-text>
        <v-card-actions>
          <v-btn color="blue-darken-1" variant="text" @click="closeCheckworkTimeDialog()">
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
  <div class="text-center pa-4">
    <v-dialog v-model="dialogEr" width="auto">
      <v-card
        style="background-color: #c7b69f"
        max-width="400"
        prepend-icon="mdi-alert-circle"
        text="วันนี้ผู้ใช้นี้ได้ลงชื่อเข้างานไปเเล้ว"
        title="แจ้งเตือน"
      >
        <template v-slot:actions>
          <v-btn class="ms-auto" text="Ok" @click="dialogEr = false"></v-btn>
        </template>
      </v-card>
    </v-dialog>
  </div>
  <div class="text-center pa-4">
    <v-dialog v-model="dialogSuctimein" width="auto">
      <v-card
        style="background-color: #c7b69f"
        max-width="400"
        prepend-icon="mdi-alert-circle"
        text="เสร็จสิ้น"
        title="แจ้งเตือน"
      >
        <template v-slot:actions>
          <v-btn class="ms-auto" text="Ok" @click="dialogSuctimein = false"></v-btn>
        </template>
      </v-card>
    </v-dialog>
  </div>
  <div class="text-center pa-4">
    <v-dialog v-model="dialogNothavetimein" width="auto">
      <v-card
        style="background-color: #c7b69f"
        max-width="400"
        prepend-icon="mdi-alert-circle"
        text="วันนี้ท่านยังไม่ลงชื่อเข้างาน"
        title="แจ้งเตือน"
      >
        <template v-slot:actions>
          <v-btn class="ms-auto" text="Ok" @click="dialogNothavetimein = false"></v-btn>
        </template>
      </v-card>
    </v-dialog>
  </div>
  <div class="text-center pa-4">
    <v-dialog v-model="dialoghavetimeinandtimeout" width="auto">
      <v-card
        style="background-color: #c7b69f"
        max-width="400"
        prepend-icon="mdi-alert-circle"
        text="วันนี้ท่านลงชื่อเข้างานเเล้วออกงานไปเเล้ว"
        title="แจ้งเตือน"
      >
        <template v-slot:actions>
          <v-btn class="ms-auto" text="Ok" @click="dialoghavetimeinandtimeout = false"></v-btn>
        </template>
      </v-card>
    </v-dialog>
  </div>
  <div>
    <v-dialog v-model="historydate" persistent>
      <v-card width="1100" style="margin-left: 180px">
        <v-icon @click="historydate = false" style="font-size: 35px; margin-left: 1250px"
          >mdi-close</v-icon
        >
        <h1>Checkwork History</h1>
        <br />
        <v-row>
          <div>
            <v-col cols="5">
              <v-card width="400" style="margin-right: 80px">
                <v-date-picker elevation="24" v-model="date" width="400"></v-date-picker>
              </v-card>
            </v-col>
            <v-col cols="6"> </v-col>
          </div>
        </v-row>
        <v-row>
          <v-col cols="10"></v-col>
          <v-col cols="2">
            <v-btn @click="historydate = false" width="150px" color="red" class="mt-1"
              >cancel <v-icon>mdi-close</v-icon></v-btn
            >
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>
    <v-dialog v-model="showDialog" max-width="800">
      <v-card class="chart-card">
        <v-card-title>Chart</v-card-title>
        <v-card-text>
          <Bar :options="chartOptions" :data="chartData" width="auto" />
        </v-card-text>
        <v-card-actions>
          <v-btn color="blue darken-1" @click="showDialog = false">Close</v-btn>
          <!-- Button to change chart data to daily view -->
          <!-- <v-btn @click="changeChartData('date'), (showDialog = false), (graphshowing = true)">Daily</v-btn> -->
          <!-- Button to change chart data to monthly view -->
          <!-- <v-btn @click="changeChartData('month'), (showDialog = false), (graphshowing = true)">Month</v-btn> -->
          <!-- Button to change chart data to yearly view -->
          <!-- <v-btn @click="changeChartData('year'), (showDialog = false), (graphshowing = true)">Year</v-btn> -->
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<style scoped>
.custom-ok-button {
  color: rgb(255, 255, 255);
  background-color: hsl(234, 66%, 61%);
  border-radius: 5px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}
</style>
