<script setup lang="ts">
import { ref, computed, onMounted } from 'vue'
import { Pie } from 'vue-chartjs'
import { Bar } from 'vue-chartjs'
import { Doughnut } from 'vue-chartjs'
import { PolarArea } from 'vue-chartjs'
import { Radar } from 'vue-chartjs'
import { Scatter } from 'vue-chartjs'
import { useSalaryStore } from '@/stores/Salary'
import {
  Chart as ChartJS,
  Title,
  Tooltip,
  Legend,
  BarElement,
  CategoryScale,
  LinearScale,
  ArcElement,
  RadialLinearScale,
  PointElement,
  Filler,
  LineElement
} from 'chart.js'
import axios from 'axios'
import { Line } from 'vue-chartjs'
ChartJS.register(
  Title,
  Tooltip,
  Legend,
  BarElement,
  CategoryScale,
  LinearScale,
  ArcElement,
  Tooltip,
  Legend,
  RadialLinearScale,
  PointElement,
  Filler,
  LineElement
)
const salaryStore = useSalaryStore()
const selectedBranch = ref()
//const resaltALL = ref();
onMounted(async () => {})
async function getreportreportPieAll() {
  const res = await axios.get(`http://localhost:3000/salarys/findPieYear/${selectedBranch.value}`)
  console.log(selectedBranch.value)

  console.log('res', res)

  // Extracting data from the response
  const expenses = parseInt(res.data[0].Expenses)
  const incomeData = parseInt(res.data[0].INCOME)

  // Calculate percentage
  const totalIncome = expenses + incomeData
  const expensesPercentage = ((expenses / totalIncome) * 100).toFixed(2) // Calculate percentage and round to 2 decimal places
  const incomePercentage = ((incomeData / totalIncome) * 100).toFixed(2) // Calculate percentage and round to 2 decimal places

  // Setting up chart data with percentages
  chartData5.value = {
    labels: [`Expenses (${expensesPercentage}%)`, `Income (${incomePercentage}%)`], // Labels for expenses and income with percentages
    datasets: [
      {
        label: 'Total Income By Year',
        backgroundColor: ['#FF0000', '#00FF00'], // Red for expenses, Green for income
        data: [expenses, incomeData] // Expenses and total income after subtracting expenses
      }
    ]
  }
}

const chartData5 = ref({
  labels: [],
  datasets: [
    {
      label: 'date one',
      backgroundColor: '#f87979',
      data: []
    }
  ]
})

const chartOptions5 = ref({
  responsive: true,
  maintainAspectRatio: false
})
</script>

<template>
  <div>
    <v-container fluid>
      <v-row>
        <v-col cols="4" style="background-color: transparent">
          <div class="text-center" style="color: white">
            <v-card class="chart-card">
              <Pie :data="chartData5" :options="chartOptions5" width="500" />
            </v-card>
          </div>
        </v-col>

        <v-col cols="8" style="background-color: transparent">
          <div class="expenses-box">
            <div class="text-center" style="color: white">
              <span class="caption" style="color: #ee7828"
                >Total Profit Loss: {{ salaryStore.datasumsalary }}</span
              >
              <v-select
                color="red"
                v-model="selectedBranch"
                :items="['2024', '2023']"
                outlined
                dense
                small
                item-color="red"
                style="max-width: 150px; font-size: 12px; min-width: auto; min-height: auto"
                class="custom-select"
              >
                <template #label>
                  <span style="color: #ee7828">Year</span>
                </template>
              </v-select>
              <v-btn @click="getreportreportPieAll()" style="color: #ee7828"> Search </v-btn>
            </div>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style>
.chart-card {
  background-color: #110114;
  /* ใช้ rgba() เพื่อกำหนดสีใสโปร่งใส */
  padding: 20px;
}

.expenses-box {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #110114;
  /* เปลี่ยนสีพื้นหลังของกล่องข้อมูลยอดกำไร/ขาดทุน */
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.custom-select .v-select-list-item {
  color: red;
  /* กำหนดสีของตัวหนังสือใน dropdown list */
}

.custom-select .v-list-item--active .v-list-item__title,
.custom-select .v-list-item--selected .v-list-item__title {
  color: red !important;
  /* กำหนดสีของตัวหนังสือใน dropdown list เมื่อถูกเลือก */
}
</style>
