<script setup lang="ts">
import { useAuthStore } from '@/stores/auth'
import { ref } from 'vue'
import type { VForm } from 'vuetify/components'
const form = ref(false)
const authStore = useAuthStore()
const refForm = ref<VForm | null>(null)
const email = ref('')
const password = ref('')
const showPassword = ref(false)
const rememberMe = ref(false)
const rememberMeKey = 'rememberMeData'
const saveRememberMeData = (email: string, password: string) => {
  const data = { email, password }
  localStorage.setItem(rememberMeKey, JSON.stringify(data))
}
const loadRememberMeData = () => {
  const data = localStorage.getItem(rememberMeKey)
  if (data) {
    return JSON.parse(data)
  }
  return null
}
const rememberMeData = loadRememberMeData()
if (rememberMeData) {
  email.value = rememberMeData.email
  password.value = rememberMeData.password
}
const required = (v: string) => {
  return !!v || 'Field is required'
}
const onSubmit = async () => {
  const { valid } = await refForm.value!.validate()
  if (!valid) return
  authStore.login(email.value, password.value)
  if (rememberMe.value) {
    saveRememberMeData(email.value, password.value)
  } else {
    localStorage.removeItem(rememberMeKey)
  }
}
const togglePasswordVisibility = () => {
  showPassword.value = !showPassword.value
}
</script>

<template>
  <v-sheet rounded>
    <v-card class="box">
      <div class="content">
        <v-form
          ref="refForm"
          v-model="form"
          @submit.prevent="onSubmit"
          class="register"
          style="width: 100%"
        >
          <div class="login-icon">
            <v-icon>mdi-account-circle</v-icon>
            <span>LOGIN</span>
          </div>

          <v-text-field class="input" v-model="email" :rules="[required]" label="Email">
            <v-icon
              class="email-icon"
              style="position: absolute; top: 75%; transform: translateY(-50%)"
              >mdi-email</v-icon
            >
          </v-text-field>

          <v-text-field
            class="input"
            v-model="password"
            :rules="[required]"
            :type="showPassword ? 'text' : 'password'"
            label="Password"
            placeholder="Enter your password"
          >
            <v-icon
              class="Pass-icon"
              style="position: absolute; top: 75%; transform: translateY(-50%)"
              @click="togglePasswordVisibility"
              >{{ showPassword ? 'mdi-eye-off' : 'mdi-eye' }}</v-icon
            >
          </v-text-field>

          <v-btn :disabled="!form" class="sign-in-btn" color="success" type="submit">
            Sign In
          </v-btn>

          <v-checkbox
            color="white"
            v-model="rememberMe"
            label="Remember Me"
            class="checkbox"
          ></v-checkbox>
        </v-form>
      </div>
    </v-card>
  </v-sheet>
</template>

<style scoped>
.sign-in-btn {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  margin: 10px auto 20px;
}

.login-icon {
  font-size: 2em;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.v-sheet {
  background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20230611/pngtree-cup-of-latte-on-wooden-table-image_2943328.jpg');
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 450px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.register {
  font-size: 0.9em;
  color: #ffff;
  text-align: center;
  margin: 25px 0 10px;
}

.input {
  width: 100%;
  max-width: 300px;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 0 5px;
  color: #ffff;
  position: relative;
}

.email-icon,
.Pass-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.content {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkbox {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
</style>
