<script setup lang="ts">
import { ref, onMounted, watch, toRefs } from 'vue'
import { useReceiptStore } from '@/stores/receipt'
import type { HistoryItem } from '@/types/ReceiptHistory'
import { useAuthStore } from '@/stores/auth'
const authStore = useAuthStore()
const receiptStore = useReceiptStore()
const dialogmax = ref(false)

const formatDate = (date: Date) =>
  date.toLocaleDateString('th-TH', {
    year: '2-digit',
    month: '2-digit',
    day: '2-digit'
  })
const formatTime = (date: Date) => date.toLocaleTimeString('th-TH')

// Reactive references
const currentDate = ref(new Date())

const formattedDate = (d: Date) => {
  return formatDate(d)
}
const formattedTime = (t: Date) => {
  return formatTime(t)
}

async function Activesummarymax() {
  try {
    // Show loading indicator
    // e.g., isLoading.value = true;

    await receiptStore.getfindsales_summary_max()

    // Data fetched successfully, update UI as needed
  } catch (error) {
    // Handle errors gracefully
    //console.error('Error fetching summary:', error);
    console.log('ss')

    // Display error message to the user
    // e.g., errorMessage.value = 'Failed to fetch summary data. Please try again later.';
  } finally {
    // Hide loading indicator
    // e.g., isLoading.value = false;
  }
}

async function Activesummarymin() {
  try {
    // Show loading indicator
    // e.g., isLoading.value = true;

    await receiptStore.getfindsales_summary_min()

    // Data fetched successfully, update UI as needed
  } catch (error) {
    // Handle errors gracefully
    //console.error('Error fetching summary:', error);
    console.log('ss')

    // Display error message to the user
    // e.g., errorMessage.value = 'Failed to fetch summary data. Please try again later.';
  } finally {
    // Hide loading indicator
    // e.g., isLoading.value = false;
  }
}
const items = [
  {
    name: 'African Elephant',
    species: 'Loxodonta africana',
    diet: 'Herbivore',
    habitat: 'Savanna, Forests'
  }
  // ... more items
]

const headers = [
  {
    title: 'id',
    key: 'id'
  },
  {
    title: 'total',
    key: 'total',
    value: 'total'
  },
  {
    title: 'Qty',
    key: 'qty'
  },
  {
    title: 'Create',
    key: 'created'
  },
  {
    title: 'Updated',
    key: 'updated'
  },
  { title: 'Actions', key: 'actions', sortable: false }
]

onMounted(async () => {
  await receiptStore.getReceipts()
  console.log(receiptStore.receipt)
})
</script>

<template>
  <!-- <v-data-table :items="receiptStore.receipt"></v-data-table> -->
  <h1 style="color: aliceblue">Receipt History</h1>
  <v-table>
    <thead>
      <tr>
        <th class="text-left">Total</th>
        <th class="text-left">Amount</th>
        <th class="text-left">Created Date</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(item, index) in receiptStore.receipt" :key="index">
        <td>{{ item.total }}</td>
        <td>{{ item.qty }}</td>
        <td>{{ item.created }}</td>
      </tr>
    </tbody>
  </v-table>

  <!-- <div>
    <v-data-table
      :headers="headers"
      :items="['dfsf', 'ghfhf']"
      style="background-color: antiquewhite"
    >
      <template v-slot:top>
        <v-toolbar flat style="background-color: #2c2c2c">
          <v-toolbar-title style="color: antiquewhite"> Receipt History </v-toolbar-title>
          <v-btn @click="dialogmax = true" style="color: antiquewhite"
            >Select Max&Min receipt history</v-btn
          >
          <v-divider class="mx-4" inset vertical color="blue darken-2"></v-divider>
        </v-toolbar>
      </template>
      <v-dialog v-model="dialogmax" style="margin-left: 50px">
        <v-card width="1300" height="300">
          <v-card-title>
            <v-btn @click="Activesummarymax()">Max</v-btn>
            <br />
            <v-btn @click="Activesummarymin()">min</v-btn>
            <br />
            <v-text> Max : </v-text>
            <br />
            <v-text>
              {{ receiptStore.datagetfindsales_summary_max }}
            </v-text>
            <br />
            <v-text> Min : </v-text>
            <br />
            <v-text>
              {{ receiptStore.datagetfindsales_summary_min }}
            </v-text>
          </v-card-title>
        </v-card>
      </v-dialog>
      <template v-slot:no-data>
        <v-btn color="primary" @click="receiptStore.getReceipts">Reset</v-btn>
      </template>
    </v-data-table>
  </div> -->
</template>
