<script setup lang="ts">
import { useAuthStore } from '@/stores/auth'
import { inject, type Ref } from 'vue'
const authStore = useAuthStore()
const rail = inject<Ref<boolean>>('rail')
</script>
<template>
  <v-app-bar
    color="teal-darken-4"
    image="https://static.vecteezy.com/system/resources/previews/003/607/477/non_2x/coffee-background-with-realistic-cup-of-coffee-vector.jpg"
  >
    <template v-slot:image>
      <v-img
        style="background-image: linear-gradient(rgba(50, 50, 50, 0.8), rgba(100, 100, 100, 0.8))"
      ></v-img>
    </template>

    <template v-slot:prepend>
      <v-app-bar-nav-icon @click.stop="rail = !rail"></v-app-bar-nav-icon>
    </template>

    <v-app-bar-title>D-Coffee</v-app-bar-title>

    <v-spacer></v-spacer>

    <v-btn @click="authStore.logout()" class="custom-logout-button">
      <v-icon>mdi-logout</v-icon>
      LOGOUT
    </v-btn>
  </v-app-bar>
</template>

<style scoped>
.custom-logout-button {
  color: white;
  background-color: chocolate;
  border-radius: 5px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}
</style>
