<script setup lang="ts">
import { useAuthStore } from '@/stores/auth'
import { inject, type Ref } from 'vue'

const drawer = inject<Ref<boolean>>('drawer')
const rail = inject<Ref<boolean>>('rail')
const authStore = useAuthStore()
</script>
<template>
  <v-navigation-drawer v-model="drawer" :rail="rail" permanent @click="rail = false" style="color: #ee7828;"
    class="blurred-container">
    <div class="blurred-image"
      style="background-image: url('https://i.pinimg.com/564x/39/23/18/3923187a25616bee7a08bc54417b4955.jpg');">
    </div>

    <div class="content">
      <v-list-item prepend-avatar=https://i.pinimg.com/564x/d3/c2/06/d3c2069bd54828300e4aa45b8ba55d1e.jpg nav>
        <template #title>
          {{ 'ID: ' + (authStore.getCurrentUser()?.id || '') }}<br />
          {{ 'Name: ' + (authStore.getCurrentUser()?.fullName || '') }}<br />
          {{ 'Role: ' + (authStore.getCurrentUser()?.position || '') }}
        </template>
        <template v-slot:append>
          <v-btn color="#ee7828" variant="text" icon="mdi-chevron-left" @click.stop="rail = !rail"></v-btn>
        </template>
      </v-list-item>

      <v-divider></v-divider>

      <v-list density="compact" nav>
        <v-list-item style="color:#ee7828;" prepend-icon="mdi-coffee-maker" title="Point of Sell" value="pos"
          :to="{ name: 'pos' }"></v-list-item>
        <v-list-item style="color:#ee7828;" prepend-icon="mdi-home-city" title="Home" value="home"
          :to="{ name: 'home' }"></v-list-item>
        <v-list-item style="color:#ee7828;" prepend-icon="mdi-account" title="Users" value="users"
          :to="{ name: 'users' }" v-if="authStore.getCurrentUser()?.position == 'Manager' ||
            authStore.getCurrentUser()?.position == 'Owner'
          "></v-list-item>
        <v-list-item style="color:#ee7828;" prepend-icon="mdi-account-star" title="Members" value="member"
          :to="{ name: 'member' }" v-if="authStore.getCurrentUser()?.position == 'Manager' ||
            authStore.getCurrentUser()?.position == 'Owner'"></v-list-item>
        <v-list-item style="color:#ee7828;" prepend-icon="mdi-gift" title="Product" value="product"
          :to="{ name: 'product' }"></v-list-item>

        <v-list-item style="color:#ee7828;" prepend-icon="mdi-warehouse" title="Stock" value="Stock"
          :to="{ name: 'stock' }"></v-list-item>

        <v-list-item style="color:#ee7828;" prepend-icon="mdi-cart" title="OrderIngredient" value="OrderIngredient"
          :to="{ name: 'OrderIngredient' }"></v-list-item>

        <v-list-item style="color:#ee7828;" prepend-icon="mdi-receipt-text-clock" title="Receipt History"
          value="receipthistory" :to="{ path: '/receipthistory' }"
          v-if="authStore.getCurrentUser()?.position == 'Manager' || authStore.getCurrentUser()?.position == 'Owner'"></v-list-item>

        <v-list-item style="color:#ee7828;" prepend-icon="mdi-logout-variant" title="Checkwork" value="checkwork"
          :to="{ name: 'checkwork' }" v-if="authStore.getCurrentUser()?.position == 'Manager' ||
            authStore.getCurrentUser()?.position == 'Staff'"></v-list-item>

        <v-list-item style="color:#ee7828;" prepend-icon="mdi-logout-variant" title="checkworkManager" value="checkwork"
          :to="{ name: 'checkworkmanager' }" v-if="authStore.getCurrentUser()?.position == 'Manager'"></v-list-item>

        <v-list-item style="color:#ee7828;" prepend-icon="mdi-logout-variant" title="checkworkOwner" value="checkwork"
          :to="{ name: 'checkworkowner' }" v-if="authStore.getCurrentUser()?.position == 'Owner'"></v-list-item>

        <v-list-item style="color:#ee7828;" prepend-icon="mdi-cash-fast" title="Bill-Employee" value="bill-emp"
          :to="{ path: '/bill-emp' }" v-if="authStore.getCurrentUser()?.position == 'Staff'"></v-list-item>
        <v-list-item style="color:#ee7828;" prepend-icon="mdi-cash-fast" title="Bill-Manager" value="bill-m"
          :to="{ path: '/bill-m' }" v-if="authStore.getCurrentUser()?.position == 'Manager'"></v-list-item>
        <v-list-item style="color:#ee7828;" prepend-icon="mdi-cash-fast" title="Bill-Owner" value="bill-o"
          :to="{ path: '/bill-o' }" v-if="authStore.getCurrentUser()?.position == 'Owner'"></v-list-item>
        <v-list-item style="color:#ee7828;" prepend-icon="mdi-office-building" title="Branch" value="branch"
          :to="{ path: '/branch' }" v-if="authStore.getCurrentUser()?.position == 'Owner'"></v-list-item>
        <v-list-item style="color:#ee7828;" prepend-icon="mdi-sale" title="Promotion" value="promotion"
          :to="{ path: '/promotion' }"></v-list-item>
        <v-list-item style="color:#ee7828;" prepend-icon="mdi-account-cash" title="Salary-Manager" value="salary-m"
          :to="{ path: '/salary-m' }" v-if="authStore.getCurrentUser()?.position == 'Manager'"></v-list-item>
        <v-list-item style="color:#ee7828;" prepend-icon="mdi-account-cash" title="Salary-Employee" value="salary-emp"
          :to="{ path: '/salary-emp' }" v-if="authStore.getCurrentUser()?.position == 'Staff'"></v-list-item>
        <v-list-item style="color:#ee7828;" prepend-icon="mdi-account-cash" title="Salary-Owner" value="salary-o"
          :to="{ path: '/salary-o' }" v-if="authStore.getCurrentUser()?.position == 'Owner'"></v-list-item>
        <v-list-item style="color:#ee7828;" prepend-icon="mdi-chart-bar" title="Report" value="report"
          :to="{ path: '/report' }"></v-list-item>
        <!-- <v-list-item prepend-icon="mdi-login" title="Login" value="login" :to="{ path: '/login' }"></v-list-item> -->
        <!-- <v-list-item
        prepend-icon="mdi-logout" 
        title="Logout"
        value="logout"
        @click="authStore.logout()"
      ></v-list-item> -->
      </v-list>
    </div>
  </v-navigation-drawer>
</template>

<style>
.blurred-container {
  position: relative;
  overflow: hidden;
  background-color: #333;
}

.blurred-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(0px);
}

.content {
  position: relative;
  z-index: 1;
  font-weight: bold;




}
</style>
