<script lang="ts" setup>
import { ref } from 'vue'
import { type Product, getImageUrl } from '@/types/Product'

defineProps<{ product: Product }>()
const emit = defineEmits<{
  selected: [product: Product]
}>()
</script>

<template>
  <v-sheet
    class="custom-card"
    :min-height="175"
    :min-width="126"
    :max-height="200"
    :max-width="200"
    elevation="1"
    @click.stop="
      () => {
        emit('selected', product)
      }
    "
    ><v-img
      class="custom-card"
      min-width="100"
      height="100"
      cover
      :src="getImageUrl(product)"
    ></v-img>
    <v-sheet class="text-center custom-card2 product-name"
      >{{ product.name }} <br />
      {{ product.price }} บาท
    </v-sheet>
    <!-- <v-sheet class="text-center custom-card2">{{ product.price }} บาท</v-sheet> -->
  </v-sheet>
</template>

<style>
.custom-card {
  border-radius: 30px !important;
}

.product-name {
  font-weight: bold;
}

.custom-card2 {
  font-size: 15px;
  border-radius: 40px !important;
}
</style>
