<template>
  <v-layout class="rounded rounded-md full-height" style="background-color: #0c0715">
    <router-view name="header"></router-view>
    <router-view name="menu"></router-view>
    <v-main class="align-center justify-center" style="min-height: 300px">
      <div class="pa-6">
        <router-view></router-view>
      </div>
    </v-main>
  </v-layout>
</template>
<style>
.full-height {
  height: 1000000vh;
  /* กำหนดความสูงให้เต็มหน้าจอ */
}
</style>
