<script setup lang="ts">
import type orderingredient from '@/services/orderingredient'
import { useBranchStore } from '@/stores/branch'
import { useOrderIngredientStore } from '@/stores/orderingredient'
import type { OrderIngredient } from '@/types/OrderIngredient'
import { watch } from 'vue'
import { nextTick, onMounted, ref } from 'vue'
import type { VForm } from 'vuetify/components'

const orderingredientStore = useOrderIngredientStore()
const BranchStore = useBranchStore()

const headers = [
  {
    title: 'Name',
    key: 'name',
    value: 'name'
  },
  {
    title: 'Price',
    key: 'price'
  },
  {
    title: 'Amount',
    key: 'amount'
  },
  {
    title: 'Savedate',
    key: 'Savedate'
  }
]

const form = ref(false)
const refForm = ref<VForm | null>(null)
const dialog = ref(false)
const dialogDelete = ref(false)
const loading = ref(false)

function onSubmit() {}

function closeDelete() {
  dialogDelete.value = false
  nextTick(() => {
    orderingredientStore.clearForm()
  })
}
async function deleteItemConfirm() {
  // Delete item from list
  await orderingredientStore.deleteOrderIngredient()
  closeDelete()
}
async function editItem(item: OrderIngredient) {
  if (!item.id) return
  await orderingredientStore.getOrderIngredient(item.id)
  dialog.value = true
}
async function deleteItem(item: OrderIngredient) {
  if (!item.id) return
  await orderingredientStore.getOrderIngredient(item.id)
  dialogDelete.value = true
}
function closeDialog() {
  dialog.value = false
  nextTick(() => {
    orderingredientStore.clearForm()
  })
}
async function save() {
  const { valid } = await refForm.value!.validate()
  if (!valid) return
  await orderingredientStore.saveOrderIngredient()
  closeDialog()
  console.log('save Order Ingredient View')
}

const currentTime = ref<string>('')
const currentDate = ref<string>('')

function getCurrentDateTime() {
  const now = new Date()
  const year = String(now.getFullYear())
  const month = String(now.getMonth() + 1).padStart(2, '0')
  const day = String(now.getDate()).padStart(2, '0')
  const hours = String(now.getHours()).padStart(2, '0')
  const minutes = String(now.getMinutes()).padStart(2, '0')
  const seconds = String(now.getSeconds()).padStart(2, '0')
  currentTime.value = `${day}-${month}-${year} ${hours}:${minutes}:${seconds}`
}

function getCurrentDate() {
  const now = new Date()
  const year = String(now.getFullYear())
  const month = String(now.getMonth() + 1).padStart(2, '0')
  const day = String(now.getDate()).padStart(2, '0')
  currentDate.value = `${year}-${month}-${day}`
}

const date = ref<Date | null>(null)

const formatDate = (date: Date): string => {
  const day = String(date.getDate()).padStart(2, '0')
  const month = String(date.getMonth() + 1).padStart(2, '0')
  const year = date.getFullYear()
  return `${year}-${month}-${day}`
}

const selectdate = ref()

const month = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
const monthname = [
  'January',
  'Febuary',
  'March',
  'April',
  'May',
  'June',
  'July',
  'August',
  'September',
  'October',
  'November',
  'December'
]

watch(selectdate, (newValue) => {
  selectdate.value = newValue
})

const year = ['2021', '2022', '2023', '2024', '2025', '2026']
const showyear = ref()
const showmonth = ref()
const selectedTab = ref()
const viewmonth = ref<any>(null)
const viewyear = ref<any>(null)
const dialogView = ref(false)
const tab = ref(null)
const dmy = ['Day', 'Month', 'Year']

watch(showmonth, (newValue) => {
  console.log(newValue)
  for (let i = 0; i < month.length; i++) {
    if (newValue == monthname[i]) {
      viewmonth.value = month[i]
    }
  }
})

watch(showyear, (newValue) => {
  console.log(newValue)
  for (let i = 0; i < year.length; i++) {
    if (newValue == year[i]) {
      viewmonth.value = year[i]
    }
  }
})
const fdate = ref('')

watch(selectdate, (newValue) => {
  if (newValue) {
    fdate.value = formatDate(newValue)
    console.log(fdate.value)
  }
})

onMounted(async () => {
  await orderingredientStore.getOrderIngredients()
  await BranchStore.getBranchs()
  getCurrentDateTime()
  getCurrentDate()
  setInterval(() => {
    getCurrentDateTime()
    getCurrentDate()
  }, 1000)
})
</script>
<template>
  <v-data-table
    :headers="headers"
    :items="orderingredientStore.orderingredients.filter((item) => item.Savedate === currentDate)"
    style="background-color: #c7b69f"
  >
    <template v-slot:top>
      <v-toolbar flat style="background-color: #2c2c2c">
        <v-toolbar-title style="color: #ee7828">
          Order Ingredient | <v-icon>mdi-timer-sand</v-icon> {{ currentTime }}
        </v-toolbar-title>
        <v-text style="color: #ee7828">{{ BranchStore.editedBranch.address }}</v-text>
        <v-divider class="mx-5" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <!-- Put Edited Dialog -->
        {{ selectdate }}

        <v-btn color="#ee7828" @click="dialogView = true">Show</v-btn>
        <v-dialog v-model="dialog" persistent width="1024">
          <template v-slot:activator="{ props }">
            <v-btn color="#ee7828" v-bind="props"> New Material </v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="text-h5">Add OrderIngredient</span>
            </v-card-title>
            <v-card-text>
              <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="12" md="4">
                      <v-text-field
                        v-model="orderingredientStore.editedOrderIngredient.name"
                        :readonly="loading"
                        :rules="[(v) => !!v || 'Field is required']"
                        class="mb-2"
                        clearable
                        label="Name"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="12" md="4">
                      <v-text-field
                        v-model.number="orderingredientStore.editedOrderIngredient.price"
                        :readonly="loading"
                        :rules="[(v) => !!v || 'Field is required']"
                        class="mb-2"
                        clearable
                        label="Price"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="12" md="4">
                      <v-text-field
                        v-model.number="orderingredientStore.editedOrderIngredient.amount"
                        :readonly="loading"
                        :rules="[(v) => !!v || 'Field is required']"
                        class="mb-2"
                        clearable
                        label="Amount"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-container>
              </v-form>
              <small>*indicates required field</small>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue-darken-1" variant="text" @click="closeDialog()"> Close </v-btn>
              <v-btn color="blue-darken-1" variant="text" @click="save()"> Save </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
  </v-data-table>
  <v-dialog v-model="dialogView">
    <v-card width="1100" height="600" style="margin-left: 200px">
      <v-card height="600">
        <v-toolbar color="#2c2c2c">
          <v-toolbar-title style="color: #ee7828">View Result {{ tab }} </v-toolbar-title>
          <v-toolbar-title style="color: #ee7828">
            <v-icon @click="dialogView = false" style="font-size: 35px; margin-left: 480px"
              >mdi-close</v-icon
            >
          </v-toolbar-title>
        </v-toolbar>
        <div class="d-flex flex-row">
          <v-tabs
            v-model="tab"
            color="#2c2c2c"
            direction="vertical"
            style="background-color: #2c2c2c"
          >
            <v-tab value="Day" color="#ee7828" style="background-color: #2c2c2c; color: #ee7828">
              Day
            </v-tab>
            <v-tab value="Month" color="#ee7828" style="background-color: #2c2c2c; color: #ee7828">
              Month
            </v-tab>
            <v-tab value="Year" color="#ee7828" style="background-color: #2c2c2c; color: #ee7828">
              Year
            </v-tab>
          </v-tabs>

          <v-window v-model="tab">
            <v-window-item value="Day">
              <v-row>
                <v-col cols="5">
                  <v-card width="400" style="margin-right: 80px">
                    <v-date-picker elevation="24" v-model="selectdate" width="400"></v-date-picker>
                    {{ fdate }} <br />
                  </v-card>
                </v-col>
                <v-col cols="6">
                  <v-data-table
                    :headers="headers"
                    :items="
                      orderingredientStore.orderingredients.filter(
                        (item) => item.Savedate.toString() === fdate
                      )
                    "
                  >
                    <template v-slot:no-data> No Save on this day.</template>
                  </v-data-table>
                </v-col>
              </v-row>
            </v-window-item>

            <v-window-item value="Month">
              <v-row>
                <v-col cols="5">
                  <v-card width="400" height="600" style="margin-right: 80px">
                    <v-select v-model="showmonth" :items="monthname"> </v-select>
                  </v-card>
                </v-col>
                <v-col cols="6">
                  <v-data-table
                    :headers="headers"
                    :items="
                      orderingredientStore.orderingredients.filter(
                        (item) => item.Savedate[5] + item.Savedate[6] === viewmonth
                      )
                    "
                  >
                    <template v-slot:no-data> No Save on this day.</template>
                  </v-data-table>
                </v-col>
              </v-row>
            </v-window-item>

            <v-window-item value="Year">
              <v-row>
                <v-col cols="5">
                  <v-card width="400" height="600" style="margin-right: 80px">
                    <v-select v-model="showyear" :items="year"> </v-select>
                  </v-card>
                </v-col>
                <v-col cols="6">
                  <v-data-table
                    :headers="headers"
                    :items="
                      orderingredientStore.orderingredients.filter(
                        (item) => item.Savedate.substring(0, 4) === viewmonth
                      )
                    "
                  >
                    <template v-slot:no-data> No Save on this day.</template>
                  </v-data-table>
                </v-col>
              </v-row>
            </v-window-item>
          </v-window>
        </div>
      </v-card>
    </v-card>
  </v-dialog>
</template>
<style scoped></style>
