<script lang="ts" setup>
import { computed, nextTick, onMounted, ref, watch } from 'vue'
import type { VForm } from 'vuetify/components'
import type { Ingredient } from '@/types/Ingredient'
import { useIngredientStore } from '@/stores/ingredient'
import { useBranchStore } from '@/stores/branch'
import { useAuthStore } from '@/stores/auth'
import axios from 'axios'
import { Bar } from 'vue-chartjs'
import { Line } from 'vue-chartjs'
import { Pie } from 'vue-chartjs'
ChartJS.register(
  Title,
  Tooltip,
  Legend,
  BarElement,
  CategoryScale,
  LinearScale,
  ArcElement,
  Tooltip,
  Legend,
  RadialLinearScale,
  PointElement,
  Filler,
  LineElement
)
import {
  Chart as ChartJS,
  Title,
  Tooltip,
  Legend,
  BarElement,
  CategoryScale,
  LinearScale,
  ArcElement,
  RadialLinearScale,
  PointElement,
  Filler,
  LineElement
} from 'chart.js'
const ingredientStore = useIngredientStore()
const BranchStore = useBranchStore()
const authStore = useAuthStore()
const headers = [
  {
    title: 'Photo',
    key: 'image'
  },
  {
    title: 'Name',
    key: 'name',
    value: 'name'
  },
  {
    title: 'Price',
    key: 'price'
  },
  {
    title: 'Amount',
    key: 'amount'
  },
  {
    title: 'used',
    key: 'used',
    value: 'used'
  },
  { title: 'Actions', key: 'actions', sortable: false }
]

const headersDialog = [
  {
    title: 'Photo',
    key: 'image'
  },
  {
    title: 'Name',
    key: 'name',
    value: 'name'
  },
  {
    title: 'Price',
    key: 'price'
  },
  {
    title: 'Amount',
    key: 'amount'
  },
  {
    title: 'Used',
    key: 'used'
  }
]

const form = ref(false)
const refForm = ref<VForm | null>(null)
const dialog = ref(false)
const checkStockdialog = ref(false)
const historydialog = ref(false)
const saveDialog = ref(false)
const showChart = ref(false)
const dialogDelete = ref(false)
const loading = ref(false)
const valueDialog = ref(false)
const types = ref()

function onSubmit() {}

function closeDelete() {
  dialogDelete.value = false
  nextTick(() => {
    ingredientStore.clearForm()
  })
}
async function deleteItemConfirm() {
  // Delete item from list
  await ingredientStore.deleteIngredient()
  closeDelete()
}
async function editItem(item: Ingredient) {
  if (!item.id) return
  await ingredientStore.getIngredient(item.id)
  dialog.value = true
}
async function deleteItem(item: Ingredient) {
  if (!item.id) return
  await ingredientStore.getIngredient(item.id)
  dialogDelete.value = true
}
function closeDialog() {
  dialog.value = false
  nextTick(() => {
    ingredientStore.clearForm()
  })
}
async function save() {
  const { valid } = await refForm.value!.validate()
  if (!valid) return
  await ingredientStore.saveIngredient()
  closeDialog()
}

const lowamount: any = ref([])
function LowAmount() {
  for (let i = 0; ingredientStore.ingredients.length; ) {
    if (ingredientStore.ingredients[i].amount <= 10) {
      lowamount.value.push(ingredientStore.ingredients[i].amount)
    }
  }
}

function getColor(amount: number) {
  if (amount <= 5) return 'red'
  else if (amount <= 10) return 'orange'
  else return 'green'
}

const currentTime = ref<string>('')
const currentDate = ref<string>('')

function getCurrentDateTime() {
  const now = new Date()
  const year = String(now.getFullYear())
  const month = String(now.getMonth() + 1).padStart(2, '0')
  const day = String(now.getDate()).padStart(2, '0')
  const hours = String(now.getHours()).padStart(2, '0')
  const minutes = String(now.getMinutes()).padStart(2, '0')
  const seconds = String(now.getSeconds()).padStart(2, '0')
  currentTime.value = `${day}-${month}-${year} ${hours}:${minutes}:${seconds}`
}

function getCurrentDate() {
  const now = new Date()
  const year = String(now.getFullYear())
  const month = String(now.getMonth() + 1).padStart(2, '0')
  const day = String(now.getDate()).padStart(2, '0')
  currentDate.value = `${year}-${month}-${day}`
}

const date = ref<Date | null>(null)

function formatDate(date: Date) {
  const year = date.getFullYear()
  const month = (date.getMonth() + 1).toString().padStart(2, '0')
  const day = date.getDate().toString().padStart(2, '0')
  return `${year}-${month}-${day}`
}

function access() {
  ingredientStore.copyIngredients()
  saveDialog.value = false
}

const fdate = ref('')

function viewChart(item: any) {
  showChart.value = true
  historydialog.value = false
}

watch(date, (newValue) => {
  if (newValue) {
    fdate.value = formatDate(newValue)
    console.log(fdate.value)
  }
})

async function ActiveLowsalary() {
  await ingredientStore.getCalculateIngredientTotal()
  console.log(ingredientStore.getCalculateIngredientTotal)
}
async function getReportMount() {
  const res = await axios.get('http://localhost:3000/report/reportStock')
  const labels = res.data.map((it: any) => it.month_year) // แก้ไขตรงนี้เป็น Month แทน formatted_time
  const data = res.data.map((it: any) => it.total_used) // แก้ไขตรงนี้เป็น TotalPrice แทน EXPENSES

  chartData.value = {
    labels: labels,
    datasets: [{ label: 'Total By Stock', backgroundColor: '#ce93d8', data: data }]
  }
}
const chartData = ref({
  labels: [],
  datasets: [{ label: 'Stock', backgroundColor: '#f87979', data: [] }]
})
const chartOptions = ref({
  responsive: true,
  maintainAspectRatio: false,
  scales: {
    y: {
      title: {
        display: true,
        text: 'Stock'
      }
    }
  }
})
const showDialog = ref(false)

onMounted(async () => {
  await getReportMount()
  await BranchStore.getBranch(2)
  await ingredientStore.getIngredients()
  getCurrentDateTime()
  getCurrentDate()
  setInterval(() => {
    getCurrentDateTime()
    getCurrentDate()
  }, 1000)
})
</script>
<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="ingredientStore.ingredients.filter((item) => item.Savedate === currentDate)"
      style="background-color: #c7b69f"
    >
      <template v-slot:top>
        <v-toolbar flat style="background-color: #2c2c2c">
          <v-toolbar-title style="color: #ee7828"
            >Stocks | <v-icon>mdi-timer-sand</v-icon> {{ currentTime }}
          </v-toolbar-title>
          <v-text style="color: #ee7828">{{ BranchStore.editedBranch.address }}</v-text>
          <v-divider class="mx-5" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-col cols="4">
            <v-btn
              @click="showDialog = true"
              style="background-color: #2c2c2c; color: #ee7828 !important"
            >
              Show Chart Stock
            </v-btn>
          </v-col>
          <!-- Put Edited Dialog -->

          <v-btn @click="valueDialog = true" style="color: #ee7828">Value Stock</v-btn>
          <v-dialog v-model="valueDialog" style="margin-left: 50px">
            <v-card width="1300" height="300">
              <v-btn @click="ActiveLowsalary()">Search</v-btn>
              <br />
              <br />
              <v-text
                v-if="ingredientStore.dataCalculas"
                v-text="
                  'Total ingredient cost: ' +
                  ingredientStore.dataCalculas.data[0].total_ingredient_cost
                "
              ></v-text>
            </v-card>
          </v-dialog>

          <v-btn @click="saveDialog = true" style="color: #ee7828">Save date</v-btn>
          <v-dialog v-model="dialog" persistent width="1024">
            <template v-slot:activator="{ props }">
              <v-btn color="#ee7828" v-bind="props"> New Ingredient </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="text-h5">Ingredient Profile</span>
              </v-card-title>
              <v-card-text>
                <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="ingredientStore.editedIngredient.name"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Name"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model.number="ingredientStore.editedIngredient.price"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Price"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model.number="ingredientStore.editedIngredient.amount"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Amount"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6">
                        <v-text-field
                          v-model.number="ingredientStore.editedIngredient.used"
                          :readonly="loading"
                          class="mb-2"
                          clearable
                          label="Used"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-file-input
                          v-model="ingredientStore.editedIngredient.files"
                          :rules="[
                            (value) => {
                              return (
                                !value ||
                                !value.length ||
                                value[0].size < 2000000 ||
                                'Image size should be less than 2 MB!'
                              )
                            }
                          ]"
                          accept="image/png, image/jpeg"
                          placeholder="Pick an image"
                          prepend-icon="mdi-camera"
                          label="Avatar"
                        ></v-file-input>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-img
                          :src="
                            'http://localhost:3000/images/ingredients/' +
                            ingredientStore.editedIngredient.image
                          "
                          width="200"
                        ></v-img>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-form>
                <small>*indicates required field</small>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="closeDialog()"> Close </v-btn>
                <v-btn color="blue-darken-1" variant="text" @click="save()"> Save </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <!--CheckStock Dialog-->
          <v-btn @click="checkStockdialog = true" style="color: #ee7828"> CheckStock </v-btn>
          <v-dialog v-model="checkStockdialog" persistent>
            <v-card width="1000" style="margin-left: 210px">
              <v-icon @click="checkStockdialog = false" style="font-size: 35px; margin-left: 950px"
                >mdi-close</v-icon
              >
              <h2>Check Stock</h2>
              <v-data-table
                :headers="headersDialog"
                :items="
                  ingredientStore.ingredients.filter(
                    (item) => item.amount <= 5 && item.Savedate == currentDate
                  )
                "
              >
                <template v-slot:[`item.amount`]="{ value }">
                  <v-chip :color="getColor(value)" rounded>
                    {{ value }}
                  </v-chip>
                </template>
                <template v-slot:no-data>
                  <v-btn color="primary" @click="ingredientStore.getIngredients"> Reset </v-btn>
                </template>
              </v-data-table>
              <div style="text-align: right; padding: 20px">
                <v-row>
                  <v-col cols="0">
                    <v-btn width="150px"> print <v-icon>mdi-printer</v-icon> </v-btn>
                  </v-col>
                  <v-col cols="2">
                    <v-btn @click="checkStockdialog = false" width="150px" color="red"
                      >cancel <v-icon>mdi-close</v-icon></v-btn
                    >
                  </v-col>
                </v-row>
              </div>
            </v-card>
          </v-dialog>

          <!--Save Dialog-->
          <v-dialog v-model="saveDialog" persistent>
            <v-card width="600" height="200" style="margin-left: 510px">
              <v-icon @click="saveDialog = false" style="font-size: 35px; margin-left: 950px"
                >mdi-close</v-icon
              >
              <v-card-title style="text-align: center"> คำเตือน </v-card-title>
              <v-card-text style="text-align: center">
                ควรบันทึก Stock ในเวลาที่ร้านปิดแล้วเท่านั้น ท่านเเน่ใจว่าจะบันทึกใช่หรือไม่? <br />
                <br />
                <v-row>
                  <v-col cols="0">
                    <v-btn width="150px" color="success" @click="access()">
                      access <v-icon>mdi-check</v-icon>
                    </v-btn>
                  </v-col>
                  <v-col cols="0">
                    <v-btn @click="saveDialog = false" width="150px" color="red"
                      >cancel <v-icon>mdi-close</v-icon></v-btn
                    >
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>
          </v-dialog>

          <!--Stock history-->
          <v-btn @click="historydialog = true" style="color: #ee7828">
            History <v-icon>mdi-calendar-clock</v-icon>
          </v-btn>
          <v-dialog v-model="historydialog" persistent>
            <v-card width="1100" style="margin-left: 180px">
              <v-icon @click="historydialog = false" style="font-size: 35px; margin-left: 1250px"
                >mdi-close</v-icon
              >
              <h2>Stock History</h2>
              <br />
              <v-row>
                <v-col cols="5">
                  <v-card width="400" style="margin-right: 80px">
                    <v-date-picker elevation="24" v-model="date" width="400"></v-date-picker>
                    {{ fdate }} <br />
                  </v-card>
                </v-col>
                <v-col cols="6">
                  <v-data-table
                    :headers="headersDialog"
                    :items="
                      ingredientStore.ingredients.filter(
                        (item) => item.Savedate.toString() === fdate
                      )
                    "
                  >
                    <template v-slot:no-data> No Save on this day.</template>
                  </v-data-table>
                </v-col>
              </v-row>
              <div style="text-align: right; padding: 20px">
                <v-row>
                  <v-col cols="0">
                    <v-btn width="150px"> print <v-icon>mdi-printer</v-icon> </v-btn>
                  </v-col>
                  <v-col cols="2">
                    <v-btn @click="historydialog = false" width="150px" color="red"
                      >cancel <v-icon>mdi-close</v-icon></v-btn
                    >
                  </v-col>
                </v-row>
              </div>
            </v-card>
          </v-dialog>

          <!--Show Chart-->
          <v-dialog v-model="showChart">
            <v-card width="1100" style="margin-left: 180px">
              <v-icon @click="historydialog = false" style="font-size: 35px; margin-left: 1250px"
                >mdi-close</v-icon
              >
              Hello
            </v-card>
          </v-dialog>

          <!-- Delete Dialog-->
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h5"
                >Are you sure you want to delete this item?</v-card-title
              >
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="closeDelete">Cancel</v-btn>
                <v-btn color="blue-darken-1" variant="text" @click="deleteItemConfirm">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:[`item.amount`]="{ value }">
        <v-chip :color="getColor(value)" rounded>
          {{ value }}
        </v-chip>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-icon size="small" class="me-2" @click="editItem(item)"> mdi-pencil </v-icon>
        <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon>
      </template>
      <template v-slot:[`item.image`]="{ item }">
        <v-img :src="'http://localhost:3000/images/ingredients/' + item.image" width="100"></v-img>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="ingredientStore.getIngredients"> Reset </v-btn>
      </template>
    </v-data-table>
    <v-dialog v-model="showDialog" max-width="800">
      <v-card class="chart-card">
        <v-card-title>Chart Stock</v-card-title>
        <v-card-text>
          <Bar :options="chartOptions" :data="chartData" width="auto" />
        </v-card-text>
        <v-card-actions>
          <v-btn color="blue darken-1" @click="showDialog = false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<style scoped>
.btn_view:hover {
  color: aquamarine;
}
</style>
